
<div class="preLoader">

	<!--  PROGRESS BAR TOP  -->

    <div class="progressTop progress">

		<div class="blue"></div>
		<div class="green"></div>

    </div>

	<!--END  PROGRESS BAR TOP  -->

	<!--  PROGRESS RIGHT  -->
	<div class="progressRight progress">

		<div class="blue"></div>
		<div class="green"></div>

    </div>
	<!--END  PROGRESS RIGHT  -->

	<!--  PROGRESS BOTTOM  -->
	<div class="progressBottom progress">

		<div class="blue"></div>
		<div class="green"></div>

    </div>
	<!--END  PROGRESS BOTTOM  -->

	<!-- PROGRESS LEFT  -->
	<div class="progressLeft progress">

		<div class="blue"></div>
		<div class="green"></div>

    </div>
	<!--END  PROGRESS LEFT  -->

	<!--  Loader Content  -->
    <div class="loaderContent">

        <figure class="logo">

            <img src="./assets/img/logos/mfs-tech-logo-2.png" alt="">

			<h4 *ngIf="percentageLoaded > 0 " >Loaded  {{percentageLoaded }} %</h4>

			<h4 *ngIf="percentageLoaded < 1 " >Fetching images</h4>

        </figure>

    </div>
	<!--END  Loader Content  -->


</div>
