.preLoader{

	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom:0px;
	background-color: #2f5a7d;
	z-index: 10;

}

.preLoader .progress{

	border:1px solid #fff;
	height: 20px;
	padding:5px;

}
