<footer class="mainFooter">

    <div class="centerAlign d-flex">
        <div class="logoSection one_fifth">
            <img src="./assets/img/logos/mfs-logo-grey-2.png" alt="mfs-logo">
          </div>

          <div class="footerMenuLinks one_fifth">
            <h4>Our Story</h4>

            <ul>

				<li>
                  <a routerLink="ourstory">Our Story</a>
                </li>

              <li>
                <a routerLink="ourbrand">Our Brand</a>
              </li>
            </ul>
          </div>

          <div class="footerMenuLinks one_fifth">
            <h4>Our Solutions</h4>

			<div *ngFor="let item of navigationItemsArray" >

			</div>

            <ul *ngIf="navigationItemsArray.length >0;">

				<li
					*ngFor="let navItem of navigationItemsArray"
					>

					<a
						routerLink="oursolutions/{{navItem?.slug}}"
						routerLinkActive="active">

						{{navItem?.title?.rendered}}
					</a>

				</li>

            </ul>
          </div>

          <div class="footerMenuLinks one_fifth">
            <h4>Insurance</h4>

            <ul>
              <li>
                <a
					href="https://insureme.co.ke/carinsurance"
					target="_blank"
					rel="noopener noreferrer">
                  Private Car Insurance
                </a>
              </li>
              <li>
                <a
					href="https://insureme.co.ke/carinsurance"
					target="_blank"
					rel="noopener noreferrer">
                  Comprehensive Cover
                </a>
              </li>
              <li>
                <a
					href="https://insureme.co.ke/carinsurance"
					target="_blank"
					rel="noopener noreferrer">
                  Third Party Fire & Theft
                </a>
              </li>
              <li>
                <a
					href="https://insureme.co.ke/carinsurance"
					target="_blank"
					rel="noopener noreferrer">
                  Third Party Only
                </a>
              </li>

            </ul>
          </div>

          <div class="footerMenuLinks one_fifth">
            <h4>Contact Us</h4>
            <ul>
              <li>
                <a href="">Request a Demo</a>
              </li>

            </ul>

            <app-social-nav>

            </app-social-nav>
          </div>

    </div>


</footer>
