<footer class="mainFooter">

  <div class="centerAlign d-flex">
    <div class="logoSection">
      <img src="./assets/img/logos/mfs-logo-grey-2.png" alt="mfs-logo">
    </div>

    <div class="footerMenuLinks ourStoryLinks">
      <h4>Our Story</h4>

      <ul>

        <li>
          <a routerLink="ourstory">Our Vision, Mission and Values</a>
        </li>

        <li>
          <a routerLink="ourstory">Our Origins</a>
        </li>

        <li>
          <a routerLink="ourstory">Our Growth</a>
        </li>

        <li>
          <a routerLink="ourstory">Our Pivot</a>
        </li>

        <li>
          <a routerLink="ourstory">Our Use Cases</a>
        </li>

      </ul>
    </div>

    <div class="footerMenuLinks ourSolutionsLinks">
      <h4>Our Solutions</h4>

      <div *ngFor="let item of navigationItemsArray">

      </div>

      <ul *ngIf="navigationItemsArray.length >0;">

        <li *ngFor="let navItem of navigationItemsArray">

          <a routerLink="oursolutions/{{navItem?.slug}}" routerLinkActive="active">

            {{navItem?.title?.rendered}}
          </a>

        </li>

      </ul>


    </div>

    <div class="footerMenuLinks ourBrandsLinks">

      <h4>Our Brands</h4>

      <ul>

        <li>
          <a 
            href="https://insureme.co.ke/" 
            target="_blank" 
            rel="noopener noreferrer">
           InsureMe
          </a>
        </li>

        <li>
          <a 
            href="https://mymobi.co.ke/" 
            target="_blank" 
            rel="noopener noreferrer">
            MyMobi
          </a>
        </li>

      </ul>

    </div>

    <div class="footerMenuLinks contactLinks">
      <h4>Contact Us</h4>
      <ul>
        <li>
          <a href="">Request a Demo</a>
        </li>

      </ul>

      <app-social-nav>

      </app-social-nav>

    </div>

  </div>


</footer>
