<!--  Site Preloaders  -->
<app-preloader
    *ngIf="siteImages.length < 1"
></app-preloader>

<app-preloader
    *ngIf="siteImages.length > 0"
    [images]="siteImages"
></app-preloader>

<!--END  Site Preloaders  -->

<!--Processor preloader-->
<app-processor
	processorHeight="fill"
	*ngIf="loadingView"
	class="margin-top100"
	description="Loading our solution - {{solutionSlug}}"
></app-processor>
<!--END Processor preloader-->

<!--Network Error modal-->
<app-modal
    *ngIf="showModal"
    title="{{modalTitle}}"
    description="{{modalDescription}}"
    type = "{{modalType}}"
>
</app-modal>
<!--END Network Error modal-->

<!--Solutions banner-->
<app-solutionsbanner
	title="{{pageDetails?.title?.rendered}}"
	excerpt="{{pageDetails?.acf?.excerpt}}"
	*ngIf="!loadingView"
	image="{{pageDetails?.acf?.banner_image}}"
></app-solutionsbanner>
<!--END Solutions banner-->

<!--Content section-->
<section
	class="contentSection centerAlign d-flex"
	*ngIf="!loadingView">

	<!--Content description section-->
    <div class="contentDescription">

        <div class="servicesOffered" [innerHtml]="pageDetails?.acf?.feature_article?.introduction_article">

        </div>

        <div class="solutionsSection">

			<app-processor
				*ngIf="loadingServices"
				description="loading service options"
			></app-processor>

            <div class="d-flex solutions">

				<label
					class="singleSolution d-flex"
					[ngClass]="solutionSlug == service?.slug ? 'activeSolution' : ''"
					for="{{service?.slug}}"
					[attr.data-value]="service?.slug"
					(click)="selectSolution($event);"
					*ngFor="let service of serviceOfInterest" >

					<input
						type="checkbox"
						[checked]="solutionSlug == service?.slug ? 'activeSolution' : ''"
						name="{{service?.slug}}"
						[attr.data-value]="service?.title?.rendered"
						id="{{service?.slug}}">

					<span class="customCheck"></span>

					{{service?.title?.rendered}}

				</label>

            </div>


        </div>

    </div>
	<!--END Content description section-->

	<!--Form section-->
    <div class="formSection">

        <form
			(ngSubmit)="contactForm.form.valid && onSubmit(contactForm.value)"
            #contactForm="ngForm"
	        name="contactForm"
            id="contactForm">

            <div class="row">

                <div class="inputSection fl">
                    <label for="">First Name</label>
                    <input
						type="text"
						name="firstName"
						required
						ngModel
			            #firstName="ngModel"
						(change)="onChange($event);"/>

						<div
						class="invalid-field"
						*ngIf="firstName.invalid"
						>

							<div *ngIf="firstName.errors.required">
							   First name is required!
							 </div>
						</div>
                </div>

                <div class="inputSection fl">
                    <label for="">Last Name</label>
                    <input
						type="text"
						name="lastName"
						required
						ngModel
			            #lastName="ngModel"
						(change)="onChange($event);"/>

						<div
						class="invalid-field"
						*ngIf="lastName.invalid"
						>

							<div *ngIf="lastName.errors.required">
							   Last name is required!
							 </div>
						</div>
                </div>

            </div>

            <div class="row">

                <div class="inputSection fl">
                    <label for="">Phone Number</label>
                    <input
						type="text"
						class="phoneNumber"
			            name="phoneNumber"
			            placeholder="Enter mobile number"
			            ngModel
			            #phoneNumber="ngModel"
						(change)="onChange($event);"
			            pattern="^(?:254|\\+254|0)((?:7|1)[0-9]{8})$"
			            required/>

						<div
				        class="invalid-field"
				        *ngIf="phoneNumber.invalid">

					        <div
					        	*ngIf="phoneNumber.errors.required"
					        	class="invalid-field">Phone Number is required
							</div>

						    <div 
								*ngIf="phoneNumber.errors.pattern"
						    	class="invalid-field">Phone Number invalid
							</div>

						</div>
                </div>

                <div class="inputSection fl">
                    <label for="">Email</label>
                    <input type="text"
						name="email"
						ngModel
						#email="ngModel"
						(change)="onChange($event);"
						required
						email/>

					<div
						class="invalid-field"
						*ngIf="email.invalid">

						<div
							*ngIf="email.errors.required"
							class="invalid-field">Email is required
						</div>

						<div 
							*ngIf="email.errors.email"
							class="invalid-field">Email must be a valid email address
						</div>

					</div>
                </div>

            </div>


            <div class="row">

                <div class="fullWidth">
                    <label for="">Company</label>
                    <input
						type="text"
						name="company"
						ngModel
						(change)="onChange($event);"
						#company="ngModel"/>

						<div
						class="invalid-field"
						*ngIf="company.invalid"
						>


							<div *ngIf="company.errors.required">
							   Company is required!
							 </div>
						</div>
                </div>

            </div>

            <div class="row">

                <div class="fullWidth">
                    <label for="">Tell what you’re looking to solve for your customers or business</label>
                    <textarea

                    	name=""
                    	id=""
                    	cols="30"
                    	rows="10"
						name="message"
                    	required
                        minlength="10"
                        maxlength="200"
						(change)="onChange($event);"
                        #message="ngModel"
                         ngModel
                    	></textarea>

						<div
						class="invalid-field"
						*ngIf="message.invalid"
						>


							<div *ngIf="message.errors.required">
							   Message is required!
							 </div>
							 <div *ngIf="message.errors.minlength">
							   Message must be at least 10 characters long.
							 </div>
							 <div *ngIf="message.errors.maxlength">
							   Message must be at most 200 characters
							 </div>
						</div>

                </div>

            </div>

            <div class="formFooter">
                <button
					class="greenBtn text-white full_width"
					type="submit"
					[disabled]="contactForm.invalid || submittingForm">

                    <span class="text-white">

                        Request a demo

                        <fa-icon
                            class="ctaIcon"
                            [icon]="['fas', 'arrow-circle-right']">

                        </fa-icon>

                    </span>

                </button>
            </div>


        </form>

		<app-processor
			*ngIf="submittingForm"
			description="Submitting form details"
		></app-processor>

		<h3 class="submission" *ngIf="submissionMessage !== ''" >
			{{submissionMessage}}
		</h3>

    </div>
	<!--END Form section-->

</section>
<!--END Content section-->
