<app-solutionsbanner></app-solutionsbanner>

<section class="solutionsIntroSection">

    <div class="introText">

        <h3 class="text-green text-center">
            Empower your customers!
        </h3>

        <p class="text-center">
            We understand that building a business and
            managing it growth can be challenging especially 
            when it comes to delivering critical services consistently.
        </p>

    </div>

    <div class="servicesSection  centerAlign d-flex">

        <div class="services one_fifth">

            <app-servicesprovided
                serviceImage = "./assets/img/icons/pay-gateway.png"
                serviceTitle = "Payment Gateway"
                description = "Create & manage your Own Loan Solutions for your customers"
            >

            </app-servicesprovided>

            <app-servicesprovided
                serviceImage = "./assets/img/icons/virtual-bank.png"
                serviceTitle = "Virtual Banking"
                description = "Create your own Virtual Bank and onboard customers and offer features such as; account openings, savings and Loans, Versatile Payment gateways"
            >

            </app-servicesprovided>

        </div>

        <div class="centerImage three_fifth">
            <img src="./assets/img/smartphone.jpg" alt="">
        </div>

        <div class="services one_fifth">

            <app-servicesprovided
                serviceImage = "./assets/img/icons/loan-management.png"
                serviceTitle = "Loan Management"
                description = "Enjoy a versatile payment solutions For your business and customers."
            >

            </app-servicesprovided>

            <app-servicesprovided
                serviceImage = "./assets/img/icons/mobi-connect.png"
                serviceTitle = "MobiConnect"
                description = "Create & manage your Own Loan Solutions for your customers."
            >

            </app-servicesprovided>

        </div>

        <div class="ellipseIconSection">
            <img src="./assets/img/icons/ellipse.png" alt="">
        </div>

        <div class="waveIconSection">
            <img src="./assets/img/icons/zigzag-wave-grey.png" alt="">
        </div>

        <div class="whiteGradient"></div>


    </div>



</section>

<section class="heroImageSection">

    <div class="overlay"></div>

    <div class="heroDescription">

        <h3 class="text-white text-center">
           How it Works 
        </h3>

        <p class="text-white text-center">
            Explore what opportunities we’ve created
            for you and your business to enhance service 
            delivery to your customers
        </p>

        <div class="btnSection text-center">
            <button class="greenBtn">
                <a href="#" class="text-white">
                    Learn How To Build Your Own Solution
    
                    <fa-icon
                        class="ctaIcon"
                        [icon]="['fas', 'arrow-circle-right']">
            
                    </fa-icon>
    
                </a>
            </button>
        </div>

    </div>

    <img src="./assets/img/background-imgs/how-it-works.jpg" alt="">

</section>

<section class="contentSection centerAlign d-flex">

    <div class="half cntLeft">
        <img src="./assets/img/3d-imgs/mfs-avatar-4.png" alt="">
    </div>

    <div class="half cntRight contentDescription">

        <h3 class="text-green">
            Impact your customers
            business today
        </h3>

        <p>
            Explore what opportunities we've created for
            you and your business to enhance service
            delivery to your customers
        </p>

        <div class="resultSection">

            <h4>Results</h4>

            <div class="d-flex results">

                <div class="singleResult half">

                    <h5 class="text-grey">
                        <strong>90%</strong>    
                    </h5>
                    <p class="text-grey">
                        Lower channel maintenance costs
                    </p>
    
                </div>

                <div class="singleResult half">

                    <h5 class="text-grey">
                        <strong>33%</strong>    
                    </h5>
                    <p class="text-grey">
                        Lower IT costs for new builds
                    </p>
    
                </div>

                <div class="singleResult half">

                    <h5 class="text-grey">
                        <strong>60%</strong>    
                    </h5>
                    <p class="text-grey">
                        Faster time to market
                    </p>
    
                </div>

                <div class="singleResult half">

                    <h5 class="text-grey">
                        <strong>10x</strong>    
                    </h5>
                    <p class="text-grey">
                        Improved customer retention
                    </p>
    
                </div>

            </div>


        </div>

    </div>

</section>