<app-solutionsbanner></app-solutionsbanner>

<section class="contentSection centerAlign d-flex">

    <div class="contentDescription half">

        <h3 class="text-green">
            With this module, you can:
        </h3>

        <div class="servicesOffered">

            <p>Services offered include:</p>

            <ul>
                <li>Define customer, product and account types based on business rules </li>
                <li>Define user and administration rights.</li>
                <li>Generate unique Product ID, Customer ID, Business ID </li>
                <li>Define data capture forms for individual, business, product KYC information </li>
                <li>Link businesses to products and customers</li>
            </ul>

        </div>

    
        <div class="solutionsSection">
    
            <div class="d-flex solutions">
    
                <div 
                    class="singleSolution" 
                    (click)="selectSolution($event);">
                    <input type="checkbox">
                    Account Services/Mobile Banking
                    
                </div>
    
                <div 
                    class="singleSolution"
                    (click)="selectSolution($event);">
                    <input type="checkbox">
                    Communications
                </div>
    
                <div
                     class="singleSolution"
                    (click)="selectSolution($event);">
                    <input type="checkbox">
                    Loan Management
                </div>
    
                <div 
                    class="singleSolution"
                    (click)="selectSolution($event);">
                    <input type="checkbox">
                    Agency Banking
                </div>
    
                <div 
                    class="singleSolution"
                    (click)="selectSolution($event);">
                    <input type="checkbox">
                    Savings, Goals and Fixed Deposits
                </div>
    
                <div 
                    class="singleSolution"
                    (click)="selectSolution($event);">
                    <input type="checkbox">
                    Utilities
                </div>
    
                <div 
                    class="singleSolution"
                    (click)="selectSolution($event);">
                    <input type="checkbox">
                    Payments
                </div>
    
                <div 
                    class="singleSolution"
                    (click)="selectSolution($event);">
                    <input type="checkbox">
                    E-KYC
                </div>
    
                <div 
                    class="singleSolution"
                    (click)="selectSolution($event);">
                    <input type="checkbox">
                    Insurance
                </div>
    
                <div 
                    class="singleSolution"
                    (click)="selectSolution($event);">
                    <input type="checkbox">
                    Reporting and BI
                </div>
    
                <div 
                    class="singleSolution"
                    (click)="selectSolution($event);">
                    <input type="checkbox">
                    Customer and Product Management
                </div>
    
    
            </div>
              
    
        </div>
    
      </div>

    <div class="formSection half">
    
        <form 
            action="" 
            id="contactForm">
    
            <div class="row">
    
                <div class="half fl">
                    <label for="">First Name</label>
                    <input type="text"/>
                </div>
    
                <div class="half fl">
                    <label for="">Last Name</label>
                    <input type="text"/>
                </div>
    
            </div>
    
            <div class="row">
    
                <div class="half fl">
                    <label for="">Phone Number</label>
                    <input type="text"/>
                </div>
    
                <div class="half fl">
                    <label for="">Email</label>
                    <input type="text"/>
                </div>
    
            </div>
    
            
            <div class="row">
    
                <div class="full_width">
                    <label for="">Company</label>
                    <input type="text"/>
                </div>
    
            </div>
    
            <div class="row">
    
                <div class="full_width">
                    <label for="">Tell what you’re looking to solve for your customers or business</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
    
            </div>
            
            <div class="formFooter">
                <button class="greenBtn text-white full_width">
                    <a href="#" class="text-white">
                        Request a Demo
    
                        <fa-icon
                            class="ctaIcon"
                            [icon]="['fas', 'arrow-circle-right']">
                
                        </fa-icon>
    
                    </a>
                    
                </button>
            </div>
    
     
        </form>
    
      </div>

</section>