<app-bannerslider></app-bannerslider>

<section class="introSection d-flex centerAlign">

    <div class="cntLeft half">
        <p>
            We were Mobile Financial Solutions,
        </p>

        <span class="emphasisText text-green">
            and now we are 
            MFS Technologies,
            and we dedicated to     
        </span>
        <br/>
        <span class="emphasisText text-blue">
            Transforming Lives
            Through Financial
            Inclusion
        </span>

        <p>
            We combine genuine conversation with cutting-edge technology to ensure we’re delivering your vision every step of the way. 
        </p>

        <p>
            Founded in 2011, MFS Technologies is a Fintech company with a passion for “Transforming Lives Through Financial Inclusion”.
            As we’ve grown from a team of 2 to 130, we’ve also grown our capabilities to meet our clients’ needs—from Mobile Banking and 
            Loan Management solutions to Customer Management, Payment Gateway and Insurance solutions.
        </p>
    </div>

    <div class="cntRight half">
        <img src="./assets/img/3d-imgs/mfs-avatar-1.png" alt="">
    </div>

</section>

<section class="coreSolutionsSection centerAlign">

    <h3 class="text-green text-center">
        Our Core Solutions we’ve built For your Business
    </h3>

    <div class="d-flex solutions">

        <app-singlesolutionitem
            image="./assets/img/3d-imgs/digital-banking.jpg"
            title="Account Services"
            description="Achieve game-changing agility and future proof your bank."
            link="#"
        
        ></app-singlesolutionitem>

        <app-singlesolutionitem

        image="./assets/img/3d-imgs/loan-management.jpg"
        title="Loan Management"
        description="A financing solution for every micro-finance business & product line."
        link="#"

        ></app-singlesolutionitem>

        <app-singlesolutionitem

        image="./assets/img/3d-imgs/insurance.jpg"
        title="Insurance"
        description="Achieve game-changing agility and future proof your bank."
        link="#"

        ></app-singlesolutionitem>

        <app-singlesolutionitem

        image="./assets/img/3d-imgs/payment-gateway.jpg"
        title="Payments"
        description="Achieve game-changing agility and future proof your bank."
        link="#"

        ></app-singlesolutionitem>

        <app-singlesolutionitem

        image="./assets/img/3d-imgs/payment-gateway.jpg"
        title="Payments"
        description="Achieve game-changing agility and future proof your bank."
        link="#"

        ></app-singlesolutionitem>

    </div>



</section>


<section class="contentSection d-flex">

    <div class="half cntLeft">
        <img src="./assets/img/3d-imgs/mfs-avatar-2.png" alt="">
    </div>

    <div class="half cntRight contentDescription">

        <h3 class="text-green">
            We trust the process, we
            Build our solutions on
        </h3>

        <div class="d-flex iconsTabs">

            <div class="singleProcess d-flex half">

                <div class="iconSection">
                    <img src="./assets/img/icons/discovery.png" alt="">
                </div>

                <div class="processDescription">
                    <h4>
                        Discovery
                    </h4>
                    <p>
                        The stage where we explore and understand the 
                        opportunities we have, and how some of them are 
                        won and others lost.
                    </p>
                </div>

            </div>

            <div class="singleProcess d-flex half">

                <div class="iconSection">
                    <img src="./assets/img/icons/ideation.png" alt="">
                </div>

                <div class="processDescription">
                    <h4>
                        Ideation
                    </h4>
                    <p>
                        The stage where we brainstorm, create and 
                        develop ideas, and test the rationales of our solutions.
                    </p>
                </div>

            </div>

            <div class="singleProcess d-flex half">

                <div class="iconSection">
                    <img src="./assets/img/icons/design.png" alt="">
                </div>

                <div class="processDescription">
                    <h4>
                        Design
                    </h4>
                    <p>
                        The stage where we bring to life the rationales
                        that have been tried and tested in our ideation process.
                    </p>
                </div>

            </div>

            <div class="singleProcess d-flex half">

                <div class="iconSection">
                    <img src="./assets/img/icons/execution.png" alt="">
                </div>

                <div class="processDescription">
                    <h4>
                        Execution
                    </h4>
                    <p>
                        The stage we pilot and promote our
                        fully built website into the market.
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>


<section class="partnersSection centerAlign">
    
    <h3 class="text-green text-center">
        Our Partners
    </h3>

    <div class="partnerLogos">
        <ul class="d-flex">
            <li>
                <img src="./assets/img/logos/amica-logo.png" alt="">
            </li>
            <li>
                <img src="./assets/img/logos/dtb-logo.png" alt="">
            </li>
            <li>
                <img src="./assets/img/logos/stima-sacco.png" alt="">
            </li>
            <li>
                <img src="./assets/img/logos/heritage-sacco.png" alt="">
            </li>
        </ul>
    </div>

</section>