<app-bannerslider></app-bannerslider>

<section class="introSection d-flex centerAlign">

    <div class="cntLeft half">
        <p>
            We were Mobile Financial Solutions,
        </p>

        <span class="emphasisText text-green">
            and now we are 
            MFS Technologies,
            and we dedicated to     
        </span>
        <br/>
        <span class="emphasisText text-blue">
            Transforming Lives
            Through Financial
            Inclusion
        </span>

        <p>
            We combine genuine conversation with cutting-edge technology to ensure we’re delivering your vision every step of the way. 
        </p>

        <p>
            Founded in 2011, MFS Technologies is a Fintech company with a passion for “Transforming Lives Through Financial Inclusion”.
            As we’ve grown from a team of 2 to 130, we’ve also grown our capabilities to meet our clients’ needs—from Mobile Banking and 
            Loan Management solutions to Customer Management, Payment Gateway and Insurance solutions.
        </p>
    </div>

    <div class="cntRight half">
        <img src="./assets/img/3d-imgs/mfs-avatar-1.png" alt="">
    </div>

</section>


<section class="processSection d-flex centerAlign">

    <div class="half cntLeft">
        <img src="./assets/img/3d-imgs/mfs-avatar-2.png" alt="">
    </div>

    <div class="half cntRight">
        <h3 class="text-green">
            We trust the process, we
            Build our solutions on
        </h3>
    </div>
</section>

<section class="digitalSolutionsSection d-flex centerAlign">

    <div class="half cntRight">
        <h3 class="text-green">
            Driving Digital 
            Solutions for your
            Customers needs 
        </h3>

        <p>
            Since 2017, over 6,000 business in Nairobi and its 
            environs have benefited from stock financing, enabling their businesses to keep running and growing.
        </p>
    </div>
    
    <div class="half cntLeft">
        <img src="./assets/img/3d-imgs/mfs-avatar-4.png" alt="">
    </div>


</section>

<section class="partnersSection centerAlign">
    
    <h3 class="text-green">
        Our Partners
    </h3>

    <div class="partnerLogos">
        <ul class="d-flex">
            <li>
                <img src="./assets/img/logos/amica-logo.png" alt="">
            </li>
            <li>
                <img src="./assets/img/logos/dtb-logo.png" alt="">
            </li>
            <li>
                <img src="./assets/img/logos/stima-sacco.png" alt="">
            </li>
            <li>
                <img src="./assets/img/logos/heritage-sacco.png" alt="">
            </li>
        </ul>
    </div>

</section>