<header>
    <div class="headerWrapper">

        <!--Site Logo Section-->
        <div class="logoSection">
            <a href="">
                <img src="./assets/img/logos/mfs-logo.png" alt="mfs-logo">
            </a>
        </div>
        <!--END Site Logo Section-->

        <div class="navLinkCentre">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Our Story</a></li>
                    <li><a href="">Our Solutions</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </nav>
        </div>

        <div class="socialNav fr">

            <a 
                href=""
                target="_blank">

                <fa-icon
                    class="socialIcon"
                    [icon]="['fab', 'facebook-f']">

                </fa-icon>
            </a>
            
            <a 
                href=""
                target="_blank">

                <fa-icon
                    class="socialIcon"
                    [icon]="['fab', 'twitter']">

                </fa-icon>
            </a>
            
            <a 
                href=""
                target="_blank">

                <fa-icon
                    class="socialIcon"
                    [icon]="['fab', 'linkedin-in']">

                </fa-icon>
            </a>

            <a 
                href="tel:0709184000"
                class="phoneNumber">

                <fa-icon
                    icon="phone-volume"
                ></fa-icon>

                0709 184 000
            </a>

        </div>

    </div>
</header>
