<header>
    <div class="headerWrapper centerAlign d-flex">

        <!--Site Logo Section-->
        <div class="logoSection">
            <a href="">
                <img src="./assets/img/logos/mfs-tech-logo-2.png" alt="mfs-logo">
            </a>
        </div>
        <!--END Site Logo Section-->

        <div class="navLinkCenter">
            <nav>
                <ul>
                    <li>
                        <a
                          routerLink="/"

                          >Home</a>
                    </li>

                    <li>
                        <a
                            routerLink="/ourstory"
                            routerLinkActive="active">Our Story</a>
                    </li>

                        <li class="subMenuLinks">
                            <a>
                                Our Solutions
                                <fa-icon
                                [icon]="['fas', 'angle-down']">

                                </fa-icon>
                            </a>

                            <ul
                                class="d-flex megaMenu centerAlign"
                                *ngIf="navigationItems.length >0;">

                            <li
                                *ngFor="let navItem of navigationItems"
                                class="linkTab">

                                <a
                                    routerLink="oursolutions/{{navItem?.slug}}"
                                    (click) ="scrollUpPage();"
                                    >

                                <fa-icon
                                    class="navIcon"
                                    icon="{{navItem?.acf?.service_icon?.value}}">
                                </fa-icon>

                                {{navItem?.title?.rendered}}

                                </a>

                            </li>

                            </ul>

                        </li>

					    <li>

                  <a
                    routerLink="/ourbrand"
							      routerLinkActive="active">Our Brands</a>

                    </li>

                    <li>
                        <a
                            routerLink="/contactus"
                            routerLinkActive="active">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <app-social-nav>

        </app-social-nav>

        <button
            class="menuToggle"
            (click)="toggleMenu();">
        </button>

    </div>

</header>

    <!--mobile menu-->
    <div class="mobileMenu">

        <nav>

            <ul>
                <li>
                    <a
                      routerLink="/"
                      routerLinkActive="active">Home</a>
                </li>

                <li>
                    <a
                        routerLink="/ourstory"
                        routerLinkActive="active">Our Story</a>
                </li>

                <li>
                    <a
                        routerLink="/ourbrand"
                        routerLinkActive="active">Our Brands</a>
                </li>

                <li class="subMenuLinks">
                    <a
                        (click)="openSubMenu();">

                        Our Solutions
                    </a>

                    <fa-icon
                    [icon]="['fas', 'angle-down']"
                    class="navIcon">

                    </fa-icon>

					<ul
						class="megaMenu"
						*ngIf="navigationItems.length >0;">

						<li
							*ngFor="let navItem of navigationItems"
							class="linkTab">

                            <fa-icon
                                class="navIconLeft"
                                icon="{{navItem?.acf?.service_icon?.value}}">
                            </fa-icon>

							<a
								routerLink="oursolutions/{{navItem?.slug}}"
								>

								{{navItem?.title?.rendered}}

							</a>


						</li>

					</ul>

                </li>

                <li>
                    <a
                        routerLink="/contactus"
                        routerLinkActive="active">
                        Contact Us
                    </a>
                </li>
            </ul>
        </nav>

        <div class="socialNav d-flex">

            <a
                href="https://www.facebook.com/mfstechnologies"
                target="_blank"
                el="noopener noreferrer">

                <fa-icon
                    class="socialIcon"
                    [icon]="['fab', 'facebook-f']">

                </fa-icon>
            </a>

            <a
                href="https://twitter.com/MFSTechnologies"
                target="_blank"
                el="noopener noreferrer">

                <fa-icon
                    class="socialIcon"
                    [icon]="['fab', 'twitter']">

                </fa-icon>
            </a>

            <a
                href="https://www.linkedin.com/company/mfskenya/mycompany/?viewAsMember=true"
                target="_blank"
                el="noopener noreferrer">

                <fa-icon
                    class="socialIcon"
                    [icon]="['fab', 'linkedin-in']">

                </fa-icon>
            </a>

        </div>

        <div class="phoneNumber">

            <a
                href="tel:0709184000"
                >

                <fa-icon
                    icon="phone-volume"
                ></fa-icon>

                0709 184 000
            </a>

        </div>

</div>
