<header>
    <div class="headerWrapper centerAlign d-flex">

        <!--Site Logo Section-->
        <div class="logoSection">
            <a href="">
                <img src="./assets/img/logos/mfs-tech-logo.png" alt="mfs-logo">
            </a>
        </div>
        <!--END Site Logo Section-->

        <div class="navLinkCenter">
            <nav>
                <ul>
                    <li>
                        <a 
                          routerLink="/"
                          routerLinkActive="active">Home</a>
                    </li>

                    <li>
                        <a 
                            routerLink="/ourstory"
                            routerLinkActive="active">Our Story</a>
                    </li>

                    <li>
                        <a 
                            routerLink="/ourbrands"
                            routerLinkActive="active">Our Brands</a>
                    </li>

                    <li class="subMenuLinks">
                        <a>
                            Our Solutions
                            <fa-icon
                            [icon]="['fas', 'angle-down']">

                            </fa-icon>
                        </a>

                        <ul class="d-flex megaMenu centerAlign">

                            <li class="linkTab">

                                <a 
                                    routerLink="/singlesolution"
                                    routerLinkActive="active">

                                <fa-icon
                                    class="navIcon"
                                    [icon]="['fas', 'hand-holding-usd']">
                                </fa-icon>

                                    Loan Management

                                </a>
                            </li>

                            <li class="linkTab">

                                <a 
                                    routerLink="/singlesolution"
                                    routerLinkActive="active">

                                <fa-icon
                                    class="navIcon"
                                    [icon]="['fas', 'users-cog']">
                                </fa-icon>
                        
                                    Customer Management &amp; Accounts Opening​
                                </a>
                            </li>

                            <li class="linkTab">

                                <a 
                                    routerLink="/singlesolution"
                                    routerLinkActive="active">

                                <fa-icon
                                    class="navIcon"
                                    [icon]="['fas', 'address-card']">
                                </fa-icon>
                                
                                    E-KYC
                                </a>
                            </li>

                            <li class="linkTab">

                                <a 
                                    routerLink="/singlesolution"
                                    routerLinkActive="active">

                                <fa-icon
                                    class="navIcon"
                                    [icon]="['fas', 'chart-line']">
                                </fa-icon>

                                
                                   Customer &amp; Data Analytics
                                </a>
                            </li>

                            <li class="linkTab">

                                <a 
                                    routerLink="/singlesolution"
                                    routerLinkActive="active">

                                <fa-icon
                                    class="navIcon"
                                    [icon]="['fas', 'credit-card']">
                                </fa-icon>
                                
                                    Transaction Services (Savings, Digital Banking )
                                </a>
                            </li>

                            <li class="linkTab">

                                <a 
                                    routerLink="/singlesolution"
                                    routerLinkActive="active">

                                <fa-icon
                                    class="navIcon"
                                    [icon]="['fas', 'comments']">
                                </fa-icon>
                                
                                    Communications Gateway                                
                                </a>
                            </li>

                            <li class="linkTab">

                                <a 
                                    routerLink="/singlesolution"
                                    routerLinkActive="active">

                                <fa-icon
                                    class="navIcon"
                                    [icon]="['fas', 'wallet']">
                                </fa-icon>
                                
                                    Payments Gateway
                                </a>
                            </li>

                            <li class="linkTab">

                                <a 
                                    routerLink="/singlesolution"
                                    routerLinkActive="active">

                                <fa-icon
                                    class="navIcon"
                                    [icon]="['fas', 'university']">
                                </fa-icon>
                                
                                    Agency Banking
                                </a>
                            </li>

                            <li class="linkTab">

                                <a 
                                    routerLink="/singlesolution"
                                    routerLinkActive="active">

                                <fa-icon
                                    class="navIcon"
                                    [icon]="['fas', 'piggy-bank']">
                                </fa-icon>
                                
                                    Savings, Goals And Fixed Deposits 
                                </a>
                            </li>

                            
                            <li class="linkTab">

                                <a 
                                    routerLink="/singlesolution"
                                    routerLinkActive="active">

                                <fa-icon
                                    class="navIcon"
                                    [icon]="['fas', 'plug']">
                                </fa-icon>
                                
                                    Utilities 
                                </a>
                            </li>

                            <li class="linkTab">
                                <a 
                                    routerLink="/singlesolution"
                                    routerLinkActive="active">

                                <fa-icon
                                    class="navIcon"
                                    [icon]="['fas', 'user-shield']">
                                </fa-icon>
                                
                                    Insurance
                                </a>
                            </li>

                            <li class="linkTab">
                                <a 
                                    routerLink="/singlesolution"
                                    routerLinkActive="active">

                                <fa-icon
                                    class="navIcon"
                                    [icon]="['fas', 'chart-line']">
                                </fa-icon>
                                
                                    Reporting And BI 
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a 
                            routerLink="/contactus"
                            routerLinkActive="active">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <app-social-nav>

        </app-social-nav>

    </div>

</header>

    <!--mobile menu-->
    <div class="mobileMenu">

        <nav>
            <ul>
                <li>
                    <a 
                      routerLink="/"
                      routerLinkActive="active">Home</a>
                </li>

                <li>
                    <a 
                        routerLink="/ourstory"
                        routerLinkActive="active">Our Story</a>
                </li>

                <li>
                    <a 
                        routerLink="/ourbrands"
                        routerLinkActive="active">Our Brands</a>
                </li>

                <li class="subMenuLinks">
                    <a>
                        Our Solutions
                        <fa-icon
                        [icon]="['fas', 'angle-down']">

                        </fa-icon>
                    </a>

                    <ul class="d-flex megaMenu centerAlign">

                        <li class="linkTab">

                            <a 
                                routerLink="/singlesolution"
                                routerLinkActive="active">

                            <fa-icon
                                class="navIcon"
                                [icon]="['fas', 'hand-holding-usd']">
                            </fa-icon>

                                Loan Management

                            </a>
                        </li>

                        <li class="linkTab">

                            <a 
                                routerLink="/singlesolution"
                                routerLinkActive="active">

                            <fa-icon
                                class="navIcon"
                                [icon]="['fas', 'users-cog']">
                            </fa-icon>
                    
                                Customer Management &amp; Accounts Opening​
                            </a>
                        </li>

                        <li class="linkTab">

                            <a 
                                routerLink="/singlesolution"
                                routerLinkActive="active">

                            <fa-icon
                                class="navIcon"
                                [icon]="['fas', 'address-card']">
                            </fa-icon>
                            
                                E-KYC
                            </a>
                        </li>

                        <li class="linkTab">

                            <a 
                                routerLink="/singlesolution"
                                routerLinkActive="active">

                            <fa-icon
                                class="navIcon"
                                [icon]="['fas', 'chart-line']">
                            </fa-icon>

                            
                               Customer &amp; Data Analytics
                            </a>
                        </li>

                        <li class="linkTab">

                            <a 
                                routerLink="/singlesolution"
                                routerLinkActive="active">

                            <fa-icon
                                class="navIcon"
                                [icon]="['fas', 'credit-card']">
                            </fa-icon>
                            
                                Transaction Services (Savings, Digital Banking )
                            </a>
                        </li>

                        <li class="linkTab">

                            <a 
                                routerLink="/singlesolution"
                                routerLinkActive="active">

                            <fa-icon
                                class="navIcon"
                                [icon]="['fas', 'comments']">
                            </fa-icon>
                            
                                Communications Gateway                                
                            </a>
                        </li>

                        <li class="linkTab">

                            <a 
                                routerLink="/singlesolution"
                                routerLinkActive="active">

                            <fa-icon
                                class="navIcon"
                                [icon]="['fas', 'wallet']">
                            </fa-icon>
                            
                                Payments Gateway
                            </a>
                        </li>

                        <li class="linkTab">

                            <a 
                                routerLink="/singlesolution"
                                routerLinkActive="active">

                            <fa-icon
                                class="navIcon"
                                [icon]="['fas', 'university']">
                            </fa-icon>
                            
                                Agency Banking
                            </a>
                        </li>

                        <li class="linkTab">

                            <a 
                                routerLink="/singlesolution"
                                routerLinkActive="active">

                            <fa-icon
                                class="navIcon"
                                [icon]="['fas', 'piggy-bank']">
                            </fa-icon>
                            
                                Savings, Goals And Fixed Deposits 
                            </a>
                        </li>

                        
                        <li class="linkTab">

                            <a 
                                routerLink="/singlesolution"
                                routerLinkActive="active">

                            <fa-icon
                                class="navIcon"
                                [icon]="['fas', 'plug']">
                            </fa-icon>
                            
                                Utilities 
                            </a>
                        </li>

                        <li class="linkTab">
                            <a 
                                routerLink="/singlesolution"
                                routerLinkActive="active">

                            <fa-icon
                                class="navIcon"
                                [icon]="['fas', 'user-shield']">
                            </fa-icon>
                            
                                Insurance
                            </a>
                        </li>

                        <li class="linkTab">
                            <a 
                                routerLink="/singlesolution"
                                routerLinkActive="active">

                            <fa-icon
                                class="navIcon"
                                [icon]="['fas', 'chart-line']">
                            </fa-icon>
                            
                                Reporting And BI 
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a 
                        routerLink="/contactus"
                        routerLinkActive="active">
                        Contact Us
                    </a>
                </li>
            </ul>
        </nav>
        
</div>