.slideContainer{

	margin-top: 0px;

}

.carouselContainer{

	position: absolute;
	bottom: 35px;
	width: 80%;
	left: 10%;
	height: 230px;

}

.owl-carousel .singleCta{

	text-align: center;

}

.owl-carousel .featureIcon{

	font-size: 66px;
	color: #ffffff;

}

.owl-carousel h4{

	font-size: 16px;
	max-width: 90%;
	margin:15px auto;

}


.owl-carousel .singleCta{

	position: relative;
	padding-bottom: 50px;
	border-right:1px solid #ffffff;

}

.owl-carousel .whiteOutlineBtn{

	position: absolute;
	bottom: 0px;
	left: 15%;
    right: 15%;
	text-align: left;


}

.owl-carousel .whiteOutlineBtn .ctaIcon{

	position: absolute;
	right: 15px;

}

.carouselContainer .owl-buttons{

	position: absolute;
	left: 0px;
	right: 0px;
	height: 80px;
	top: 50%;
	margin-top: -40px;
	display: none;

}

.owl-controls .owl-prev{

}

.owl-controls .owl-next{

}
