<section class="bannerSection">

  <div class="slideContainer">

    <div class="singleSlide">

        <div
            id="mainSlider"
            class="slider-pro"
            *ngIf="type == 'slider'" >

            <div class="sp-slides">

                <div
                    class="sp-slide"
                    *ngFor="let slideImage of sliderImages" >

                    <div class="overlay"></div>

                    <div class="waveIconSection">
                        <img src="./assets/img/icons/zigzag-wave.png" alt="">
                    </div>

                    <div class="bannerContent">

                        <div class="bannerHeader">
                            <!-- <p class="text-white">{{slideImage.introText}}</p> -->
                            <h1>{{slideImage?.title}}</h1>
                        </div>

                        <div class="bannerDescription">

                            <div [innerHtml]="slideImage?.description"></div>

                            <span class="text-white">
                                As-a-Service | Cloud | On-premise
                            </span>

                        </div>

                        <button class="bannerCta greenBtn">
                            <a
                                href="{{slideImage?.slider_link}}"
                                class="text-white">

                                Learn More

                                <fa-icon
                                    class="ctaIcon"
                                    [icon]="['fas', 'arrow-circle-right']">

                                </fa-icon>

                            </a>
                        </button>

                    </div>

                    <img
                        class=""
                        src="{{slideImage.image}}"
                        alt="">

                </div>

            </div>

        </div>

    </div>

    <div class="bannerCtaSection d-flex centerAlign" *ngIf="sliderHighlights.length > 0" >

        <div
			class="singleCta one_quarter"
			*ngFor="let highlight of sliderHighlights" >

            <div class="ctaIconSection">
                <img src="{{highlight?.image}}" alt="">
            </div>

            <div class="ctaContent">
                <h4 class="text-white">{{highlight?.title}}</h4>
                <p class="ctaDescription text-white">{{highlight?.excerpt}}
                </p>

                <button class="whiteOutlineBtn">
                    <a routerLink="{{highlight?.link}}" class="text-white">
                        Get Started

                        <fa-icon
                            class="ctaIcon"
                            [icon]="['fas', 'arrow-circle-right']">

                        </fa-icon>

                    </a>
                </button>



            </div>

        </div>

    </div>

  </div>

</section>
