<section class="bannerSection">

  <div class="slideContainer">

    <div class="singleSlide">

        <div
            id="mainSlider"
            class="slider-pro"
            *ngIf="type == 'slider'" >
            
            <div class="sp-slides">

                <div 
                    class="sp-slide"
                    *ngFor="let slideImage of sliderImages" >

                    <div class="overlay"></div>

                    <div class="waveIconSection">
                        <img src="./assets/img/icons/zigzag-wave.png" alt="">
                    </div>

                    <div class="bannerContent">
    
                        <div class="bannerHeader">
                            <p class="text-white">{{slideImage.introText}}</p>
                            <h1>{{slideImage.bannerHeaderText}}</h1>
                        </div>
        
                        <div class="bannerDescription">
        
                            <p class="text-white">{{slideImage.description}}</p>
        
                            <span class="text-white">
                                As-a-Service | Cloud | On-premise
                            </span>
        
                        </div>
        
                        <button class="bannerCta greenBtn">
                            <a 
                                href="{{slideImage.bannerLink}}" 
                                class="text-white">
        
                                Learn More
        
                                <fa-icon
                                    class="ctaIcon"
                                    [icon]="['fas', 'arrow-circle-right']">
                        
                                </fa-icon>
        
                            </a>
                        </button>
        
                    </div>

                    <img
                        class="" 
                        src="{{slideImage.slideImage}}" 
                        alt="">

                </div>

            </div>
            
        </div>

    </div>

    <div class="bannerCtaSection d-flex centerAlign">

        <div class="singleCta one_quarter">

            <div class="ctaIconSection">
                <img src="./assets/img/icons/digital-banking-platform.png" alt="">
            </div>

            <div class="ctaContent">
                <h4 class="text-white">Digital Banking Platform</h4>
                <p class="ctaDescription text-white">
                    Achieve game-changing agility and future proof your bank.
                </p>

                <button class="whiteOutlineBtn">
                    <a href="/singlesolution" class="text-white">
                        Get Started
    
                        <fa-icon
                            class="ctaIcon"
                            [icon]="['fas', 'arrow-circle-right']">
                
                        </fa-icon>
    
                    </a>
                </button>


                
            </div>

        </div>

        <div class="singleCta one_quarter">

            <div class="ctaIconSection">
                <img src="./assets/img/icons/lending-platform.png" alt="">
            </div>

            <div class="ctaContent">
                <h4 class="text-white">Lending Platform</h4>
                <p class="ctaDescription text-white">
                    A financing solution for every micro-finance business &amp; product line.
                </p>

                <button class="whiteOutlineBtn">
                    <a href="/singlesolution" class="text-white">
                        Get Started
    
                        <fa-icon
                            class="ctaIcon"
                            [icon]="['fas', 'arrow-circle-right']">
                
                        </fa-icon>
    
                    </a>
                </button>


                
            </div>

        </div>

        <div class="singleCta one_quarter">

            <div class="ctaIconSection">
                <img src="./assets/img/icons/payment-gateway.png" alt="">
            </div>

            <div class="ctaContent">
                <h4 class="text-white">Payment Gateway</h4>
                <p class="ctaDescription text-white">
                    Our insurance solution enables product configuration, pricing and
                </p>

                <button class="whiteOutlineBtn">
                    <a href="/singlesolution" class="text-white">
                        Get Started
    
                        <fa-icon
                            class="ctaIcon"
                            [icon]="['fas', 'arrow-circle-right']">
                
                        </fa-icon>
    
                    </a>
                </button>


                
            </div>

        </div>

        <div class="singleCta one_quarter">

            <div class="ctaIconSection">
                <img src="./assets/img/icons/insurance-white.png" alt="">
            </div>

            <div class="ctaContent">
                <h4 class="text-white">Insurance</h4>
                <p class="ctaDescription text-white">
                    Achieve game-changing agility and future proof your bank.
                </p>

                <button class="whiteOutlineBtn">
                    <a href="/singlesolution" class="text-white">
                        Get Started
    
                        <fa-icon

                            [icon]="['fas', 'arrow-circle-right']">
                
                        </fa-icon>
    
                    </a>
                </button>


                
            </div>

        </div>

    </div>

  </div>

</section>
