<section class="ourStorySection">

    <div class="sidebarSection">

        <div class="overlay"></div>
        
        <div class="sidebarContainer">

            <div class="sidebar">
    
                <nav>
    
                    <ul>
    
                        <li
                            class="active sidebarLink"
                            data-background="our-vision-img"
                            data-target = "our-vision"
                            (click)="activateTab($event);">

                            <span class="ellipse"></span>

                            Our Vision, Mission &amp; Values
                            
                        </li>
    
                        <li
                            data-background="our-origins-img"
                            data-target = "our-origin"
                            (click)="activateTab($event);"
                            class="timelineLink">

                            <span class="ellipse"></span>

                            Our Origins

                            <span class="hideTimeline timeline">

                                2012

                            </span>

                        </li>
    
                        <li 
                            data-background="our-growth-img"
                            data-target = "our-growth"
                            (click)="activateTab($event);"
                            class="timelineLink">

                            <span class="ellipse"></span>

                            Our Growth

                            <span class="hideTimeline timeline active">

                                2013 - 2017

                            </span>
                            
                        </li>
    
                        <li
                            data-background="our-pivot-img"
                            data-target = "our-pivot"
                            (click)="activateTab($event);"
                            class="timelineLink">

                            <span class="ellipse"></span>

                                Our Pivot


                                <span class="hideTimeline timeline">

                                    2018 - 2020
    
                                </span>

                        </li>
    
                    </ul>
    
                </nav>
    
            </div>
<!-- 
            <div class="timelineSidebar hideTimeline timeline">

                <nav>

                    <ul>
                        <li 
                            class="our-origin-timeline timelineLink"
                            data-year="2012"
                            (click)="openTimeLineTab($event)">
                            2012
                        </li>
                        <li 
                            class="our-growth-timeline timelineLink"
                            data-year="2013-2017"
                            (click)=" openTimeLineTab($event)">
                            2013 - 2017
                        </li>
                        <li 
                            class="our-pivot-timeline timelineLink"
                            data-year="2018-2020"
                            (click)=" openTimeLineTab($event)">
                            2018 - 2020
                        </li>
                        <li 
                            class="our-brands-timeline timelineLink"
                            data-year="2021"
                            (click)=" openTimeLineTab($event)">
                            2021
                        </li>
                    </ul>

                </nav>

            </div> -->

            <div class="sidebarBackground">

                <img src="./assets/img/background-imgs/vision-mission-values.jpg" 
                    alt="" 
                    class="backgroundImage our-vision-img">

                <img src="./assets/img/background-imgs/our-origins.jpg" 
                    alt="" 
                    class="backgroundImage hideImage our-origins-img">
                
                <img src="./assets/img/background-imgs/our-growth.jpg" 
                    alt="" 
                    class="backgroundImage hideImage our-growth-img">

                <img src="./assets/img/background-imgs/our-pivot.jpg" 
                    alt="" 
                    class="backgroundImage hideImage our-pivot-img">

            </div>    

        </div>

    </div>

    <div class="contentDescription">

        <div id="our-vision" class="tabContent">

            <h3 class="text-green">
                Our Vision
            </h3>
    
            <p>
                To be the partner of choice that enable consumers
                and businesses across Africa access financial services 
                through technology.
            </p>
    
            <h3 class="text-green">
                Our Mission
            </h3>
    
            <p>
                Our mission is to empower the lives of millions of
                consumers and entrepreneurs across Africa through 
                technology. We focus on creating solutions that lead 
                to positive and sustainable economic impact, driven by 
                our belief that financial inclusion is a right for all.
            </p>

            <h3 class="text-green">
                Our Values
            </h3>
    
            <h4 class="text-blue">
                Customer Obsession
            </h4>
    
            <p>
                The interest of our customers is our priority. 
                We develop solutions that make a positive impact 
                in our customers' lives.
            </p>
    
            <h4 class="text-blue">
                Innovation
            </h4>
    
            <p>
                In order to adapt to new business conditions, 
                we must think big, we must dive deep, we must be 
                flexible, and we must be futuristic. 
            </p>
    
            <h4 class="text-blue">
                Passionate
            </h4>
    
            <p>
                The interest of our customers is our priority. 
                We develop solutions that make a positive impact 
                in our customers' lives.
            </p>
    
            <h4 class="text-blue">
                Team Work
            </h4>
    
            <p>
                The interest of our customers is our priority. 
                We develop solutions that make a positive impact 
                in our customers' lives.
            </p>
    
            <h4 class="text-blue">
                Result Oriented
            </h4>
    
            <p>
                We hire and develop the best to uphold the 
                highest standards of integrity and honesty in
                delivering on our commitments. 
            </p>
    
        </div>

        <div id="our-origin" class="tabContent hideContent">

            <h3 class="text-green">
                <span class="text-blue">Our Origins - </span> How And Where We Started
            </h3>
    
            <p>
                To be the partner of choice that enable consumers
                and businesses across Africa access financial services 
                through technology.
            </p>
    
            <h4 class="text-blue">
                The birth of Mobiloan
            </h4>
    
            <p>
                The idea of developing a digital lending solution dubbed 
                'Mobiloan' is conceptualized by one of the founding directors.
                With a skeletal staff of 2, Mobiloan is developed into a lending
                solution for commercial use by financial institutions.
            </p>

            <p>
                Mobiloan trademark is registered on January 20th, 2012 and  Mobile
                Financial Solutions (MFS) is registered on February 16th, 2012 respectively.  
            </p>
    
        </div>

        <div id="our-growth" class="tabContent hideContent">

            <h3 class="text-green">
                <span class="text-blue">Our Growth - </span> Our partners, Our Products (Mobile Lending, Mobile Banking)
            </h3>
    
            <h4 class="text-blue">
                MFS Anchor clients
            </h4>
    
            <p>
                MFS signs Kenya Commercial Bank as its first anchor client for the provision of Mobile lending services in 2013. 
            </p>

            <p>
                Stima Sacco follows suite in 2015 as the first Sacco client with the full mobile banking and digital lending solution.
            </p>

            <p>
                The largest Telco Safaricom comes on board in 2016 to offer digital lending services to its merchants using Mobiloan.
            </p>

            <p>
                With a growing staff of 20, MFS acquires a crucial license from the then Communications Authority of Kenya (CA) in 2017
                to include PRSP services in its product offering, which also attracts more Saccos and partners.
            </p>
    
        </div>

        <div id="our-pivot" class="tabContent hideContent">

            <h3 class="text-green">
                <span class="text-blue">Our Pivot - </span> Birth of MyMobi
            </h3>

            <h4 class="text-blue">
                Re-Engineering of our Technology 
            </h4>
    
            <p>
                MFS makes the strategic decision to shift from purely focusing on lending and mobile banking to providing the full suite of digital financial services to a wider market audience. MFS overhauls its technology architecture from a single tiered loan and mobile banking application to a micro services architecture for ease of integration, scalability and reusability. This results in a full stack end to end mobile and web application with 9 business components: Customer and Product Management, Account Services/Mobile Banking, Loans Management, Savings & Goals, Payments, Communications, Agency Banking, Insurance and Reporting & BI.  
            </p>
    
            <p>
                MFS makes another strategic decision to develop and build capacity around data analysis and credit scoring. MFS Data Labs Limited is registered on September 19th, 2018, and in early 2019, employs its first Data Scientist. 

            </p>

            <p>
                On March 6th, 2019, MFS trademarks the name ‘MyMobi’. Through this brand, MFS strategically diversifies its business activities and begins to provide stock and working capital financing directly to retail businesses, including beer and keg outlets, wholesalers, kiosks, salons and taxi drivers, amongst others. MFS also successfully experiments with a potato farming project in Narok County, with 30 local farmers on 60 acres of land. Produce is in excess of 700T, which is absorbed by Tropical Heat, a large FMCG manufacturer. 
            </p>

            <p>
                On April 09th, 2019, MFS trademarks the name “InsureMe’ 
            </p>

            <p>
                During this period, MFS signs on Total Energies, a top Oil Marketing Company (OMC), and partners with DTB Bank, a top tier financial institution, to support its foray into retail lending activities. 
            </p>
    
        </div>

    </div>

</section>
