/***** GENERAL STYLING *******/
h1,
h2,
h3 {
  font-family: "museo_sans_rounded900";
}

strong {
  font-family: "robotobold";
}

h4,
h5,
h6 {
  font-family: "robotomedium";
}

p,
a {
  font-family: "robotoregular";
}

.invalid-field div,
.invalid-field label {
  font-family: "robotoregular";
  font-size: 14px;
  margin-top: 10px;
  color: #e90000;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-family: "robotobold";
}

.processor {
  text-align: center;
  clear: both;
}
.processor .mat-progress-spinner circle,
.processor .mat-spinner circle {
  stroke: #9BCB53;
}
.processor .mat-progress-spinner {
  margin: 0 auto;
}

.processor.fill {
  min-height: 50vh;
}

.text-white {
  color: #ffffff;
}

.text-green {
  color: #9BCB53;
}

.text-blue {
  color: #446D8E;
}

.text-grey {
  color: #717171;
}

.text-yellow {
  color: #FFC402;
}

.whiteGradient {
  background: linear-gradient(#fff0, #FFFDFD);
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0%;
}

.iconLarge {
  font-size: 65px;
}

.greenBtn {
  background-color: #9BCB53;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
.greenBtn:hover {
  background-color: #446D8E;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.whiteBtn {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.whiteOutlineBtn {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 6px 15px;
  border-radius: 20px;
}
.whiteOutlineBtn:hover {
  background-color: #446D8E;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.whiteOutlineBtnLg {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

.one_third,
.three_eigth {
  width: 30%;
  margin-right: 3%;
}

.two_third {
  width: 63%;
  margin-right: 3%;
}

.one_quarter {
  width: 23%;
  margin-right: 2%;
}

.half {
  width: 47%;
  margin-right: 2%;
}

.three_quarter {
  width: 73%;
  margin-right: 2%;
}

.full_width {
  width: 100%;
}

.one_fifth {
  width: 18%;
  margin-right: 2%;
}

.two_fifth {
  width: 38%;
  margin-right: 2%;
}

.three_fifth {
  width: 58%;
  margin-right: 2%;
  min-width: 58%;
}

.one_eigth {
  width: 10.5%;
  margin-right: 2%;
}

.two_eigth {
  width: 23%;
  margin-right: 2%;
}

.margin-bottom-3 {
  margin-bottom: 3%;
}

.margin-top100 {
  margin-top: 100px;
  display: block;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.width-20 {
  width: 20%;
}

.hide {
  display: none !important;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.centerAlign {
  width: 100%;
  overflow: hidden;
  max-width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  margin-top: 0px !important;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  padding-top: 0px;
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding-top: 60px;
}

.overlay {
  background-color: #000;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0.5;
}

.opacity-3 {
  opacity: 0.3;
}

.hideSection {
  display: none;
}

header {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 8px 4px 15px rgba(40, 40, 40, 0.09);
}
header .headerWrapper {
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
}
header .headerWrapper .logoSection {
  display: inline-block;
  vertical-align: middle;
}
header .headerWrapper .navLinkCenter ul {
  padding-left: 0px;
  margin: 0px;
}
header .headerWrapper .navLinkCenter ul li {
  list-style: none;
  display: inline-block;
  line-height: 100px;
}
header .headerWrapper .navLinkCenter ul li a {
  font-family: "robotoregular";
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
}
header .headerWrapper .navLinkCenter ul li a:hover {
  color: #9BCB53;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
header .headerWrapper .navLinkCenter ul li a .active {
  color: #9BCB53;
  border-bottom: 3px solid #9BCB53;
  font-family: "robotobold";
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  background: #fff;
  top: 100px;
  left: 10%;
  z-index: 20;
  visibility: hidden;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: -2px 4px 10px rgba(40, 40, 40, 0.35);
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .linkTab {
  padding: 20px;
  border-bottom: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  text-align: center;
  width: 20%;
  line-height: normal;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .linkTab a {
  font-family: "robotobold";
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .linkTab .navIcon {
  display: block;
  text-align: center;
  font-size: 45px;
  color: #446D8E;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .linkTab .navIcon:hover {
  color: #9BCB53;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .linkTab:nth-child(4n) {
  border-right: none;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .linkTab:hover {
  color: #9BCB53;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .purpleBtn {
  background-color: #446D8E;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  position: absolute;
  bottom: 9%;
  right: 8%;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .purpleBtn a {
  font-size: 20px;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .purpleBtn a .ctaIcon {
  margin-left: 20px;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .purpleBtn a:hover {
  color: #fff;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .purpleBtn:hover {
  background-color: #9BCB53;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks:hover > ul {
  visibility: visible;
  opacity: 1;
}
header .headerWrapper .socialNav .socialIcon {
  color: #9BCB53;
  font-size: 20px;
  border: 2px solid #9BCB53;
  border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
}
header .headerWrapper .socialNav .socialIcon svg {
  vertical-align: middle;
}
header .headerWrapper .socialNav .socialIcon:hover {
  background-color: #446D8E;
  color: #fff;
  border: 2px solid #446D8E;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
header .headerWrapper .socialNav .phoneNumber {
  border: 2px solid #9BCB53;
  border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  padding: 4px 10px;
  margin-left: 25px;
}
header .headerWrapper .socialNav .phoneNumber:hover {
  background-color: #446D8E;
  color: #fff;
  border: 2px solid #446D8E;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.mobileMenu {
  display: none;
}

.menuToggle {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  display: none;
}

.slideContainer {
  position: relative;
}
.slideContainer .singleSlide {
  position: relative;
}
.slideContainer .singleSlide .bannerContent {
  position: absolute;
  left: 10%;
  top: 5%;
  width: 65%;
  z-index: 1;
}
.slideContainer .singleSlide .bannerContent .bannerHeader p {
  font-family: "robotomedium";
  font-size: 25px;
}
.slideContainer .singleSlide .bannerContent .bannerHeader h1 {
  color: #9BCB53;
  font-size: 45px;
  margin: 0px;
}
.slideContainer .singleSlide .bannerContent .bannerDescription p {
  font-size: 25px;
  color: #ffffff;
}
.slideContainer .singleSlide .bannerContent .bannerDescription span {
  font-family: "robotoblack";
  font-size: 25px;
}
.slideContainer .singleSlide .bannerContent .bannerCta {
  margin-top: 30px;
}
.slideContainer .singleSlide .bannerContent .bannerCta a {
  font-size: 16px;
}
.slideContainer .singleSlide .bannerContent .bannerCta .ctaIcon {
  margin-left: 20px;
}
.slideContainer .singleSlide .waveIconSection {
  width: 20%;
  position: absolute;
  top: 41%;
  left: 4%;
  z-index: 0;
}
.slideContainer .bannerCtaSection {
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.slideContainer .bannerCtaSection .singleCta {
  border-right: 0.25px solid #fff;
}
.slideContainer .bannerCtaSection .singleCta .ctaIconSection {
  width: 30%;
}
.slideContainer .bannerCtaSection .singleCta:nth-child(4n) {
  border-right: none;
}

.introSection {
  margin-top: 40px;
}
.introSection .cntLeft {
  width: 42%;
}
.introSection .cntLeft p {
  line-height: 1.6;
}
.introSection .cntLeft p:nth-child(1) {
  font-family: "robotomedium";
  font-size: 25px;
  margin: 0px;
  margin-bottom: 20px;
}
.introSection .cntLeft .emphasisText {
  margin: 0px;
  font-family: "museo_sans_rounded900";
  font-size: 45px;
}
.introSection .cntRight {
  width: 50%;
  margin-left: 2%;
}

.coreSolutionsSection {
  background: linear-gradient(#D3D3D385, #FFF0);
}
.coreSolutionsSection h3 {
  font-size: 35px;
  margin: 0 auto;
  width: 40%;
  padding: 6% 0 3%;
  line-height: 45px;
}
.coreSolutionsSection .solutions {
  padding: 20px 30px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.coreSolutionsSection .solutions .singleSolution {
  box-shadow: 8px 4px 15px rgba(40, 40, 40, 0.09);
  border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: #fff;
  position: relative;
  padding-bottom: 30px;
}
.coreSolutionsSection .solutions .singleSolution .solutionImage img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.coreSolutionsSection .solutions .singleSolution .solutionContent {
  padding: 12px 35px 40px 25px;
}
.coreSolutionsSection .solutions .singleSolution .solutionContent h4 {
  font-family: "robotomedium";
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.coreSolutionsSection .solutions .singleSolution .solutionContent .ctaSection a {
  font-size: 12px;
}
.coreSolutionsSection .solutions .singleSolution .solutionContent .ctaSection a .ctaIcon {
  margin-left: 23px;
}
.coreSolutionsSection .solutions .singleSolution .solutionContent .ctaSection a:hover {
  color: #fff;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.coreSolutionsSection .solutions .singleSolution .solutionContent .ctaSection .blackOutlineBtn {
  background-color: transparent;
  border: 2px solid #000;
  padding: 10px 15px 10px 20px;
  border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  font-size: 12px;
  position: absolute;
  bottom: 35px;
}
.coreSolutionsSection .solutions .singleSolution .solutionContent .ctaSection .blackOutlineBtn:hover {
  background-color: #446D8E;
  border: 2px solid #fff;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.contentSection {
  position: relative;
}
.contentSection .cntRight {
  position: relative;
}
.contentSection .cntRight h3 {
  font-size: 38px;
  line-height: 50px;
}
.contentSection .cntRight p {
  line-height: 1.5;
}
.contentSection .cntRight .iconsTabs {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.contentSection .cntRight .singleProcess {
  margin-bottom: 3%;
}
.contentSection .cntRight .singleProcess .iconSection img {
  max-width: 100px;
}
.contentSection .cntRight .singleProcess .processDescription {
  margin-left: 20px;
}
.contentSection .cntRight .singleProcess .processDescription h4 {
  margin: 0px;
  font-size: 22px;
}
.contentSection .cntRight .singleProcess .processDescription p {
  line-height: 25px;
}
.contentSection .contentDescription {
  position: relative;
  width: 50%;
  margin-top: 0px;
  display: inline-block;
  margin-left: 0%;
}
.contentSection .contentDescription .servicesOffered {
  margin-top: 54px;
}
.contentSection .contentDescription .servicesOffered ul {
  padding-left: 20px;
  width: 66%;
  margin-bottom: 0px;
}
.contentSection .contentDescription h3 {
  font-size: 35px;
  margin-bottom: 0px;
  color: #9BCB53;
  line-height: 45px;
  font-family: "robotobold";
}
.contentSection .contentDescription p {
  line-height: 35px;
  font-size: 25px;
  color: #404040;
  letter-spacing: 1px;
}
.contentSection .contentDescription .solutionsSection .solutions {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 30px;
}
.contentSection .contentDescription .solutionsSection .solutions .singleSolution {
  padding: 10px 0px;
  border: 2px solid #707070;
  border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  width: 29%;
  margin-right: 6%;
  margin-bottom: 6%;
  cursor: pointer;
  padding-left: 7%;
  padding-right: 7%;
  position: relative;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  z-index: 6;
  font-family: "robotomedium";
}
.contentSection .contentDescription .solutionsSection .solutions .singleSolution input {
  opacity: 0;
}
.contentSection .contentDescription .solutionsSection .solutions .singleSolution .customCheck {
  position: absolute;
  left: 25px;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid gray;
  margin-top: -10px;
  pointer-events: none;
}
.contentSection .contentDescription .solutionsSection .solutions input:checked ~ .customCheck {
  background-color: #446D8E;
  border: 2px solid #fff;
}
.contentSection .contentDescription .solutionsSection .solutions .activeSolution {
  background-color: #9BCB53;
  border: 2px solid #9BCB53;
}

.heroImageSection {
  position: relative;
}
.heroImageSection .heroDescription {
  position: absolute;
  left: 10%;
  top: 13%;
}
.heroImageSection .heroDescription h3 {
  font-size: 35px;
  margin: 0 auto;
  width: 50%;
  line-height: 50px;
}
.heroImageSection .heroDescription p {
  line-height: 25px;
  font-size: 18px;
}
.heroImageSection .heroDescription .btnSection {
  margin-top: 30px;
}
.heroImageSection .statsContainer {
  position: absolute;
  bottom: 16%;
  left: 10%;
}
.heroImageSection .statsContainer .singleStat {
  padding-right: 1%;
  padding-left: 1%;
  position: relative;
  width: 18%;
}
.heroImageSection .statsContainer .singleStat .iconStat {
  position: relative;
}
.heroImageSection .statsContainer .singleStat .statContent {
  margin-left: 10px;
}
.heroImageSection .statsContainer .singleStat .statContent h4 {
  font-family: "robotobold";
  font-size: 32px;
  margin: 0px;
}
.heroImageSection .statsContainer .singleStat .statContent p {
  margin-top: 0px;
}
.heroImageSection .statsContainer .singleStat:last-child {
  border-right: none;
}
.heroImageSection .statsContainer .singleStat .borderRight {
  border-right: 6px solid #fff;
  height: 100%;
  position: absolute;
  right: 10px;
}

.partnersSection h3 {
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.partnersSection .partnerLogos {
  margin: 20px 0px;
}
.partnersSection .partnerLogos ul {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0px;
}
.partnersSection .partnerLogos ul li {
  border-right: 1px solid #7070704d;
  width: 16%;
  list-style: none;
  margin-bottom: 35px;
  text-align: center;
}
.partnersSection .partnerLogos ul li:last-child {
  border-right: none;
}
.partnersSection .partnerLogos ul li:nth-child(6n) {
  border-right: none;
}
.partnersSection .partnerLogos ul li img {
  filter: grayscale(100%);
  width: 70%;
}
.partnersSection .partnerLogos ul li img:hover {
  filter: grayscale(1%);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.bannerSection {
  position: relative;
  margin-top: 40px;
}
.bannerSection .bannerContainer {
  position: relative;
}
.bannerSection .bannerContainer .bannerContent {
  position: absolute;
  left: 10%;
  width: 52%;
  top: 10%;
}
.bannerSection .bannerContainer .bannerContent .bannerHeader h1 {
  font-size: 45px;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
.bannerSection .bannerContainer .bannerContent .bannerDescription p {
  font-size: 24px;
  color: #ffffff;
}
.bannerSection .bannerContainer .bannerContent .bannerDescription span {
  font-family: "robotoblack";
  font-size: 25px;
}
.bannerSection .bannerContainer .bannerContent .bannerCtaSection {
  margin-top: 50px;
}
.bannerSection .bannerContainer .bannerContent .bannerCtaSection .bannerCta {
  margin-right: 20px;
}
.bannerSection .bannerContainer .bannerContent .bannerCtaSection .bannerCta a {
  font-size: 16px;
}
.bannerSection .bannerContainer .bannerContent .bannerCtaSection .bannerCta a .ctaIcon {
  margin-left: 30px;
}

.solutionsIntroSection {
  position: relative;
}
.solutionsIntroSection .introText {
  margin: 0 auto;
  width: 50%;
}
.solutionsIntroSection .introText h3 {
  font-size: 35px;
}
.solutionsIntroSection .servicesSection {
  position: relative;
  margin-top: 50px;
}
.solutionsIntroSection .servicesSection .singleService {
  margin-bottom: 30px;
}
.solutionsIntroSection .servicesSection .singleService .serviceIcon {
  width: 50%;
}
.solutionsIntroSection .servicesSection .singleService .serviceContent {
  margin-top: 15px;
}
.solutionsIntroSection .servicesSection .singleService .serviceContent h5 {
  font-size: 18px;
  margin: 0px;
}
.solutionsIntroSection .servicesSection .singleService .serviceContent p {
  color: #9F9F9F;
}
.solutionsIntroSection .servicesSection .waveIconSection {
  position: absolute;
  width: 30%;
  right: -12%;
  top: 20%;
  opacity: 0.35;
  z-index: -2;
}
.solutionsIntroSection .servicesSection .ellipseIconSection {
  position: absolute;
  width: 25%;
  left: -17%;
  top: 12%;
  opacity: 0.35;
  z-index: -2;
}

.resultSection h4 {
  font-family: "robotoblack";
  font-size: 28px;
  margin-bottom: 0px;
}
.resultSection .results {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 70%;
}
.resultSection .results .singleResult {
  border-right: 2px solid #BCBBBB;
  margin-bottom: 25px;
}
.resultSection .results .singleResult h5 {
  font-size: 45px;
  margin: 15px 20px 0;
}
.resultSection .results .singleResult p {
  margin: 0px 20px 0;
}
.resultSection .results .singleResult:nth-child(2n) {
  border-right: none;
}
.resultSection .results .singleResult:nth-child(odd) h5,
.resultSection .results .singleResult:nth-child(odd) p {
  margin-left: 0px;
}

.formSection {
  position: relative;
  width: 46%;
  margin-left: 4%;
}
.formSection form {
  background-color: #F2F2F2;
  border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  padding: 50px 20px 30px 40px;
  margin-top: 45px;
}
.formSection form .row {
  margin-bottom: 25px;
  overflow: hidden;
}
.formSection form .row .inputSection {
  width: 45%;
  margin-right: 5%;
}
.formSection form .row .fullWidth {
  width: 96%;
  margin-right: 2%;
}
.formSection form .row label {
  display: block;
  font-family: "robotoregular";
  font-size: 13px;
  margin-bottom: 5px;
}
.formSection form .row input {
  outline: none;
  border: none;
  width: 100%;
  height: 45px;
  border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  font-family: "robotoregular";
  text-indent: 10px;
}
.formSection form .row textarea {
  border: none;
  width: 100%;
  border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  font-family: "robotoregular";
  text-indent: 10px;
  outline: none;
  max-height: 200px;
  line-height: 45px;
}
.formSection form .formFooter .greenBtn:disabled,
.formSection form .formFooter .greenBtn[disabled] {
  border: 1px solid #3e3e3e;
  background-color: #3e3e3e;
  color: #B1B1B1;
  opacity: 0.3;
}
.formSection form .formFooter .greenBtn {
  position: relative;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  font-family: "robotomedium";
  text-transform: capitalize;
}
.formSection form .formFooter .greenBtn .ctaIcon {
  position: absolute;
  right: 20px;
}
.formSection form .formFooter .greenBtn a .ctaIcon {
  position: absolute;
  right: 3%;
  font-size: 25px;
  top: 10%;
}

.ourStorySection {
  margin-top: 2%;
}
.ourStorySection .sidebarSection {
  position: fixed;
  width: 50%;
  left: 0%;
  top: 102px;
  display: inline-block;
  bottom: 0%;
}
.ourStorySection .sidebarSection .sidebar {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 20%;
}
.ourStorySection .sidebarSection .sidebar nav ul li {
  margin: 20px 40px;
  font-size: 20px;
  font-family: "museo_sans_rounded900";
  color: #fff;
  cursor: pointer;
  list-style: none;
  position: relative;
}
.ourStorySection .sidebarSection .sidebar nav ul li .ellipse {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/icons/white-ellipse.png") center center no-repeat;
  pointer-events: none;
}
.ourStorySection .sidebarSection .sidebar nav ul li .timeline {
  list-style: none;
  font-size: 20px;
  font-family: "museo_sans_rounded900";
  color: #fff;
  opacity: 0.5;
  position: absolute;
  right: 0%;
  pointer-events: none;
}
.ourStorySection .sidebarSection .sidebar nav ul .hideTimeline {
  display: none;
}
.ourStorySection .sidebarSection .sidebar nav ul .active {
  color: #9BCB53;
  font-size: 25px;
}
.ourStorySection .sidebarSection .sidebar nav ul .active .ellipse {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/icons/active-ellipse.png") center center no-repeat;
  pointer-events: none;
}
.ourStorySection .sidebarSection .sidebar nav ul .active .timeline {
  color: #9BCB53;
  font-size: 25px;
  opacity: 1;
}
.ourStorySection .sidebarSection .timelineSidebar {
  position: absolute;
  right: 10%;
  top: 30%;
}
.ourStorySection .sidebarSection .timelineSidebar nav ul li {
  margin: 20px 15px;
  list-style: none;
  font-size: 20px;
  font-family: "museo_sans_rounded900";
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
}
.ourStorySection .sidebarSection .timelineSidebar nav ul .active {
  color: #9BCB53;
  font-size: 25px;
  opacity: 1;
}
.ourStorySection .sidebarSection .sidebarBackground .hideImage {
  display: none;
}
.ourStorySection .sidebarSection .sidebarBackground img {
  min-width: 655px;
}
.ourStorySection .contentDescription {
  position: relative;
  width: 44%;
  margin-top: 0px;
  background-color: #ffffff;
  overflow-y: scroll;
  min-height: 100vh;
  max-height: 100vh;
  display: inline-block;
  margin-left: 50%;
  padding-left: 3%;
  padding-right: 3%;
}
.ourStorySection .contentDescription h3 {
  font-size: 35px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.ourStorySection .contentDescription h4 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.ourStorySection .contentDescription p {
  margin-top: 5px;
  line-height: 24px;
}
.ourStorySection .contentDescription .hideContent {
  display: none;
}

.servicesOffered ul {
  padding-left: 20px;
}
.servicesOffered ul li {
  font-family: "robotomedium";
  padding-bottom: 15px;
  line-height: 30px;
}

.ourBrandsSection {
  margin-top: 2%;
  position: relative;
}
.ourBrandsSection .imgSection {
  position: fixed;
  width: 50%;
  left: 0%;
  top: 102px;
  display: inline-block;
  bottom: 0%;
}
.ourBrandsSection .imgSection img {
  min-width: 650px;
}
.ourBrandsSection .contentDescription {
  position: relative;
  width: 44%;
  margin-top: 0px;
  background-color: #ffffff;
  overflow-y: scroll;
  min-height: 100vh;
  max-height: 100vh;
  display: inline-block;
  margin-left: 50%;
  padding-left: 3%;
  padding-right: 3%;
}
.ourBrandsSection .contentDescription h3 {
  font-size: 35px;
  margin-bottom: 0px;
}
.ourBrandsSection .contentDescription h4 {
  font-size: 25px;
  margin-bottom: 0px;
}
.ourBrandsSection .contentDescription p {
  line-height: 1.5;
}
.ourBrandsSection .contentDescription .brandCta {
  background-color: #4A4A4A;
  border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 20px 34px 20px 38px;
  margin: 35px 0;
  position: relative;
}
.ourBrandsSection .contentDescription .brandCta .brandLogo {
  display: inline-block;
  vertical-align: middle;
}
.ourBrandsSection .contentDescription .brandCta .brandLogo img {
  width: 70%;
}
.ourBrandsSection .contentDescription .brandCta .brandLink {
  display: inline-block;
  vertical-align: middle;
}
.ourBrandsSection .contentDescription .brandCta .brandLink a {
  font-family: "robotomedium";
  font-size: 25px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  line-height: 114px;
}
.ourBrandsSection .contentDescription .brandCta .ctaSection {
  position: absolute;
  right: 30px;
  bottom: 32px;
}
.ourBrandsSection .contentDescription .brandCta .ctaSection .ctaIcon {
  font-size: 36px;
}

.contactUs {
  margin-top: 2%;
}

.mainFooter {
  position: relative;
  background-color: #404040;
  padding: 20px 0px;
}
.mainFooter .logoSection {
  width: 9%;
  margin-top: 1%;
  margin-right: 1%;
}
.mainFooter .ourStoryLinks {
  width: 11.5%;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.mainFooter .ourStoryLinks h4::after {
  content: "";
  display: block;
  margin-top: 14px;
  border-bottom: 2px solid #707070;
  width: 60%;
}
.mainFooter .ourSolutionsLinks {
  width: 47%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
.mainFooter .ourSolutionsLinks h4::after {
  content: "";
  display: block;
  margin-top: 14px;
  border-bottom: 2px solid #707070;
  width: 96%;
}
.mainFooter .ourSolutionsLinks ul li {
  display: inline-block;
  width: 47%;
}
.mainFooter .ourSolutionsLinks ul li:nth-child(2n) {
  margin-left: 6%;
}
.mainFooter .ourBrandsLinks {
  width: 10%;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.mainFooter .ourBrandsLinks h4::after {
  content: "";
  display: block;
  margin-top: 14px;
  border-bottom: 2px solid #707070;
  width: 84%;
}
.mainFooter .contactLinks {
  width: 14.5%;
  margin-left: 1%;
  margin-right: 1%;
}
.mainFooter .contactLinks h4::after {
  content: "";
  display: block;
  margin-top: 14px;
  border-bottom: 2px solid #707070;
  width: 56%;
}
.mainFooter .contactLinks .whatsapp {
  color: #BCBBBB;
  border: 2px solid #BCBBBB;
  border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  padding: 5px 25px 5px 40px;
  margin-top: 20px;
  position: relative;
}
.mainFooter .contactLinks .whatsapp:hover {
  color: #fff;
  border: 2px solid white;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.mainFooter .contactLinks .whatsapp .whatsappIcon {
  font-size: 21px;
  position: absolute;
  top: 1px;
  left: 11px;
}
.mainFooter .footerMenuLinks h4 {
  text-transform: uppercase;
  color: #BCBBBB;
  font-family: "robotoregular";
}
.mainFooter .footerMenuLinks ul {
  padding-left: 0px;
}
.mainFooter .footerMenuLinks ul li {
  padding-bottom: 10px;
  color: #BCBBBB;
  list-style: none;
}
.mainFooter .footerMenuLinks ul li a {
  color: #BCBBBB;
  font-family: "robotoregular";
}
.mainFooter .footerMenuLinks ul li a:hover {
  color: #fff;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.mainFooter .footerMenuLinks .socialNav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 68px;
}
.mainFooter .footerMenuLinks .socialNav .socialIcon {
  color: #BCBBBB;
  font-size: 20px;
  border: 2px solid #BCBBBB;
  border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}
.mainFooter .footerMenuLinks .socialNav .socialIcon svg {
  vertical-align: middle;
}
.mainFooter .footerMenuLinks .socialNav .socialIcon:hover {
  color: #fff;
  border: 2px solid white;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.mainFooter .footerMenuLinks .socialNav .phoneNumber {
  color: #BCBBBB;
  border: 2px solid #BCBBBB;
  border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  padding: 4px 10px;
  margin-left: 0px;
  margin-top: 20px;
}
.mainFooter .footerMenuLinks .socialNav .phoneNumber:hover {
  color: #fff;
  border: 2px solid white;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@media screen and (max-width: 1410px) {
  .heroImageSection .statsContainer {
    left: 3%;
    bottom: 1%;
  }

  .coreSolutionsSection h3 {
    padding: 3% 0 3%;
  }
  .coreSolutionsSection .solutions {
    padding: 10px 30px;
  }
  .coreSolutionsSection .solutions .singleSolution .solutionContent h4 {
    font-size: 18px;
  }

  .mainFooter .footerMenuLinks ul li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 1340px) {
  .slideContainer .singleSlide .bannerContent {
    width: 80%;
    top: 5%;
  }
  .slideContainer .singleSlide .bannerContent .bannerHeader h1 {
    font-size: 35px;
  }
  .slideContainer .singleSlide .bannerContent .bannerDescription p,
.slideContainer .singleSlide .bannerContent .bannerDescription span {
    font-size: 22px;
  }
  .slideContainer .singleSlide .banner > img {
    min-width: 840px;
  }

  .heroImageSection .heroDescription {
    bottom: 45%;
  }
  .heroImageSection .heroDescription h3 {
    width: 80%;
  }

  .partnersSection .partnerLogos ul {
    padding-left: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .partnersSection .partnerLogos ul li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .bannerSection .bannerContainer .bannerContent {
    left: 10%;
    width: 80%;
  }
  .bannerSection .bannerContainer .bannerContent .bannerHeader h1 {
    font-size: 40px;
  }
  .bannerSection .bannerContainer .bannerContent .bannerDescription p {
    font-size: 21px;
  }
  .bannerSection .bannerContainer img {
    min-width: 990px;
  }
}
@media screen and (max-width: 1200px) {
  .headerWrapper .logoSection {
    padding: 5px;
  }
  .headerWrapper .logoSection img {
    width: 70%;
  }
  .headerWrapper .navLinkCenter ul {
    display: none;
  }
  .headerWrapper .socialNav {
    display: none;
  }
  .headerWrapper .menuToggle {
    display: block;
    background: url("../img/icons/menuopener.png") center center no-repeat #9BCB53;
    background-size: 15px;
  }
  .headerWrapper .menuToggle.open {
    background: url("../img/icons/menucloser.png") center center no-repeat #9BCB53;
    background-size: 15px;
  }

  .mobileMenu {
    display: none;
    position: fixed;
    left: -100%;
    top: 0px;
    bottom: 0px;
    width: 240px;
    z-index: 50;
    background-color: #FFF;
    box-shadow: 5px 9px 60px rgba(40, 40, 40, 0.49);
  }
  .mobileMenu nav ul {
    padding: 0px;
  }
  .mobileMenu nav ul li {
    list-style: none;
    position: relative;
  }
  .mobileMenu nav ul li a {
    font-size: 16px;
    font-family: "robotoregular";
    display: block;
    height: 50px;
    line-height: 50px;
    text-indent: 25px;
    position: relative;
  }
  .mobileMenu nav ul li a:hover {
    color: #9BCB53;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .mobileMenu nav ul li a .active {
    color: #9BCB53;
    border-bottom: 3px solid #9BCB53;
    font-family: "robotobold";
  }
  .mobileMenu nav ul > .subMenuLinks {
    position: relative;
  }
  .mobileMenu nav ul > .subMenuLinks .navIcon {
    position: absolute;
    right: 20px;
    top: 18px;
  }
  .mobileMenu nav ul > .subMenuLinks > .megaMenu {
    display: none;
  }
  .mobileMenu nav ul > .subMenuLinks > .megaMenu .navIconLeft {
    position: absolute;
    left: 30px;
    top: 0px;
  }
  .mobileMenu nav ul > .subMenuLinks > .megaMenu .linkTab {
    padding-left: 15px;
    position: relative;
  }
  .mobileMenu nav ul > .subMenuLinks > .megaMenu .linkTab a {
    text-indent: 0px;
    line-height: 20px;
    text-align: left;
    padding-left: 40px;
  }
  .mobileMenu nav ul > .subMenuLinks > .megaMenu .linkTab:hover {
    color: #9BCB53;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .mobileMenu nav ul > .subMenuLinks .openSubMenu {
    display: block;
  }
  .mobileMenu .socialNav {
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
  }
  .mobileMenu .socialNav .socialIcon {
    color: #9BCB53;
    font-size: 20px;
    border: 2px solid #9BCB53;
    border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
  }
  .mobileMenu .socialNav .socialIcon svg {
    vertical-align: middle;
  }
  .mobileMenu .socialNav .socialIcon:hover {
    background-color: #446D8E;
    color: #fff;
    border: 2px solid #446D8E;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .mobileMenu .phoneNumber {
    border: 2px solid #9BCB53;
    border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding: 4px 10px;
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
  }
  .mobileMenu .phoneNumber:hover {
    background-color: #446D8E;
    color: #fff;
    border: 2px solid #446D8E;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .mobileMenu .phoneNumber a {
    width: 100%;
    display: block;
    text-align: center;
  }

  .bannerSection {
    margin-top: 0px;
  }

  .slideContainer .singleSlide .bannerContent {
    width: 80%;
  }
  .slideContainer .singleSlide .bannerContent .bannerCta {
    margin-top: 30px;
  }
  .slideContainer .bannerCtaSection {
    display: none;
  }

  .introSection .cntLeft {
    width: 100%;
    margin-right: 0%;
  }
  .introSection .cntRight {
    display: none;
  }

  .coreSolutionsSection h3 {
    font-size: 35px;
    width: 80%;
    padding: 3% 0 3%;
  }
  .coreSolutionsSection .solutions {
    padding: 0px 10px;
  }
  .coreSolutionsSection .solutions .singleItem {
    width: 30%;
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
  .coreSolutionsSection .solutions .singleItem .singleSolution .solutionImage {
    text-align: center;
  }
  .coreSolutionsSection .solutions .singleItem .singleSolution .solutionContent h4 {
    font-size: 18px;
  }

  .contentSection {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .contentSection .cntLeft {
    display: none;
  }
  .contentSection .cntRight {
    width: 80%;
    margin: 0 auto;
  }
  .contentSection .cntRight h3 {
    text-align: center;
  }
  .contentSection .cntRight .iconsTab {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }
  .contentSection .contentDescription {
    position: relative;
    width: 100%;
    margin-top: 0px;
    overflow-y: hidden;
    min-height: auto;
    max-height: none;
    margin-left: 0%;
  }

  .formSection {
    top: 0%;
    position: relative;
    width: 100%;
    right: 0%;
  }

  .heroImageSection .heroDescription h3 {
    font-size: 30px;
  }

  .statsContainer {
    display: none;
  }

  .bannerSection .bannerContainer .bannerContent {
    top: 10%;
  }
  .bannerSection .bannerContainer .bannerContent .bannerHeader h1 {
    font-size: 35px;
  }

  .ourStorySection {
    margin-top: 0%;
  }
  .ourStorySection .sidebarSection {
    position: relative;
    width: 100%;
    left: 0%;
    top: 0%;
    background-color: #446D8E;
    z-index: 1;
  }
  .ourStorySection .sidebarSection .overlay {
    display: none;
  }
  .ourStorySection .sidebarSection .sidebar {
    left: 10%;
    top: 0%;
    width: 80%;
    position: relative;
  }
  .ourStorySection .sidebarSection .sidebar nav ul {
    padding-left: 0px;
  }
  .ourStorySection .sidebarSection .sidebar nav ul li {
    margin: 15px 0px;
  }
  .ourStorySection .sidebarSection .sidebarContainer .sidebarBackground {
    display: none;
  }
  .ourStorySection .contentDescription {
    overflow: hidden;
    max-height: none;
    min-height: 0vh;
    width: 100%;
    display: block;
    margin-left: 0%;
  }
  .ourStorySection .contentDescription h4 {
    margin-top: 0px;
  }
  .ourStorySection .contentDescription h3 {
    margin-bottom: 5px;
  }
  .ourStorySection .contentDescription .tabContent {
    max-width: 80%;
    width: 100%;
    margin: 0px auto;
  }

  .mainFooter .d-flex {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-direction: column;
  }
  .mainFooter .logoSection {
    width: 100%;
    text-align: center;
  }
  .mainFooter .footerMenuLinks {
    width: 100%;
    margin-right: 0%;
    text-align: center;
  }
  .mainFooter .footerMenuLinks .socialNav {
    float: none;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-direction: column;
  }
  .mainFooter .footerMenuLinks .socialNav .socialIcon {
    margin-bottom: 10px;
  }
  .mainFooter .footerMenuLinks .socialNav .phoneNumber {
    border: none;
  }
  .mainFooter .footerMenuLinks .socialNav .phoneNumber:hover {
    border: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .ourBrandsSection {
    margin-top: 0%;
  }
  .ourBrandsSection .imgSection {
    display: none;
  }
  .ourBrandsSection .contentDescription {
    width: 100%;
  }
  .ourBrandsSection .contentDescription .tabContent {
    max-width: 80%;
    width: 100%;
    margin: 0px auto;
  }
  .ourBrandsSection .contentDescription .brandCta {
    padding: 16px 30px 16px 35px;
  }
  .ourBrandsSection .contentDescription .brandCta .brandLink {
    left: 35%;
  }
  .ourBrandsSection .contentDescription .brandCta .brandLink a {
    font-size: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .slideContainer .singleSlide .bannerContent {
    width: 80%;
    top: 10%;
  }
  .slideContainer .singleSlide .bannerContent .bannerHeader h1 {
    font-size: 30px;
  }
  .slideContainer .singleSlide .bannerContent .bannerHeader p {
    font-family: "robotomedium";
    font-size: 23px;
  }
  .slideContainer .singleSlide .bannerContent .bannerDescription p {
    font-size: 20px;
  }
  .slideContainer .singleSlide .bannerHeader h1 {
    font-size: 35px;
  }
  .slideContainer .singleSlide .bannerCta {
    margin-top: 30px;
  }

  .bannerCtaSection {
    display: none;
  }

  .introSection .cntLeft {
    width: 100%;
  }
  .introSection .cntLeft .emphasisText {
    font-size: 35px;
  }

  .coreSolutionsSection h3 {
    font-size: 28px;
  }
  .coreSolutionsSection .solutions {
    padding: 0px;
  }
  .coreSolutionsSection .solutions .singleItem {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .coreSolutionsSection .solutions .singleItem .singleSolution .solutionImage img {
    margin: 0 auto;
    width: 100%;
  }

  .contentSection .cntRight h3 {
    font-size: 28px;
  }
  .contentSection .cntRight .iconsTab {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }
  .contentSection .contentDescription h3 {
    font-size: 28px;
  }

  .heroImageSection .heroDescription h3 {
    font-size: 25px;
  }
  .heroImageSection .heroDescription p {
    font-size: 16px;
  }

  .partnersSection h3 {
    font-size: 28px;
  }
  .partnersSection .partnerLogos ul li {
    margin-bottom: 15px;
  }

  .bannerSection .bannerContainer .bannerContent .bannerHeader h1 {
    font-size: 30px;
  }
  .bannerSection .bannerContainer .bannerContent .bannerDescription p {
    font-size: 17px;
  }

  .ourStorySection .contentDescription h3 {
    font-size: 30px;
  }
  .ourStorySection .contentDescription h4 {
    font-size: 22px;
  }

  .ourBrandsSection .contentDescription h3 {
    font-size: 30px;
  }
  .ourBrandsSection .contentDescription h4 {
    font-size: 22px;
  }
  .ourBrandsSection .contentDescription .brandCta {
    padding: 10px 20px 10px 30px;
  }
  .ourBrandsSection .contentDescription .brandCta .brandLogo img {
    width: 60%;
  }
  .ourBrandsSection .contentDescription .brandCta .brandLink {
    left: 35%;
  }
  .ourBrandsSection .contentDescription .brandCta .brandLink a {
    font-size: 20px;
  }
  .ourBrandsSection .contentDescription .brandCta .ctaSection .ctaIcon {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .centerAlign {
    max-width: 90%;
  }

  header .centerAlign {
    max-width: 90%;
  }

  .slideContainer .singleSlide .bannerContent {
    width: 90%;
    left: 5%;
  }
  .slideContainer .singleSlide .bannerContent .bannerHeader h1 {
    font-size: 27px;
  }
  .slideContainer .singleSlide .bannerContent .bannerHeader p {
    font-family: "robotomedium";
    font-size: 20px;
  }
  .slideContainer .singleSlide .bannerContent .bannerDescription p {
    font-size: 16px;
  }
  .slideContainer .singleSlide .bannerContent .bannerDescription span {
    font-size: 18px;
  }
  .slideContainer .singleSlide .bannerContent .bannerCta a {
    font-size: 14px;
  }

  .introSection .cntLeft .emphasisText {
    font-size: 30px;
  }

  .contentSection .cntRight .singleProcess {
    width: 100%;
    margin-right: 0%;
  }

  .coreSolutionsSection .solutions {
    padding: 15px 0px;
  }

  .heroImageSection {
    background-color: #446D8E;
    height: 40%;
  }
  .heroImageSection .heroDescription h3 {
    width: 100%;
  }
  .heroImageSection img {
    display: none;
  }

  .partnersSection h3 {
    font-size: 28px;
  }
  .partnersSection .partnerLogos ul li {
    width: 100%;
  }

  .bannerSection .bannerContainer .bannerContent {
    width: 86%;
  }
  .bannerSection .bannerContainer .bannerContent .bannerHeader h1 {
    font-size: 25px;
  }

  .formSection form .row {
    margin-bottom: 5px;
    overflow: hidden;
  }
  .formSection form .row .half {
    width: 98%;
    margin-right: 2%;
    margin-bottom: 1%;
  }
  .formSection form .row .full_width {
    margin-bottom: 1%;
  }

  .ourStorySection .sidebarSection .sidebar nav ul li {
    font-size: 18px;
  }
  .ourStorySection .sidebarSection .sidebar nav ul li .timeline {
    font-size: 18px;
  }
  .ourStorySection .sidebarSection .sidebar nav ul li .active {
    font-size: 20px;
  }
  .ourStorySection .sidebarSection .sidebar nav ul .active {
    font-size: 20px;
  }
  .ourStorySection .sidebarSection .sidebar nav ul .active .timeline {
    font-size: 20px;
  }
  .ourStorySection .sidebarSection .timelineSidebar nav ul li {
    margin: 20px 15px;
    list-style: none;
    font-size: 20px;
    font-family: "museo_sans_rounded900";
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
  }
  .ourStorySection .sidebarSection .timelineSidebar nav ul .active {
    font-size: 25px;
  }
  .ourStorySection .contentDescription h3 {
    font-size: 25px;
  }
  .ourStorySection .contentDescription h4 {
    font-size: 20px;
  }

  .ourBrandsSection .contentDescription h3 {
    font-size: 25px;
  }
  .ourBrandsSection .contentDescription h4 {
    font-size: 20px;
  }

  .ourBrandsSection .contentDescription h3 {
    font-size: 30px;
  }
  .ourBrandsSection .contentDescription h4 {
    font-size: 22px;
  }
  .ourBrandsSection .contentDescription .brandCta {
    padding: 10px 15px 10px 20px;
  }
  .ourBrandsSection .contentDescription .brandCta .brandLink a {
    font-size: 16px;
  }
  .ourBrandsSection .contentDescription .brandCta .ctaSection .ctaIcon {
    font-size: 20px;
  }
}
@media screen and (max-width: 560px) {
  .slideContainer .singleSlide .bannerContent .bannerDescription span {
    font-size: 16px;
  }
  .slideContainer .singleSlide .bannerHeader h1 {
    font-size: 35px;
  }

  .introSection {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .introSection .cntLeft p:nth-child(1) {
    font-size: 21px;
  }
  .introSection .cntLeft .emphasisText {
    font-size: 25px;
  }

  .coreSolutionsSection h3 {
    font-size: 25px;
    padding: 25px 0px;
    line-height: normal;
  }
  .coreSolutionsSection .solutions .singleItem {
    width: 95%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .contentSection .cntRight {
    width: 90%;
  }
  .contentSection .cntRight h3 {
    font-size: 24px;
  }
  .contentSection .contentDescription h3 {
    font-size: 24px;
  }
  .contentSection .contentDescription .tabContent {
    max-width: 90%;
  }
  .contentSection .contentDescription .solutionsSection .solutions .singleSolution {
    font-size: 14px;
    width: 90%;
    margin-right: 0%;
    padding-left: 11%;
  }

  .formSection {
    margin: 10px 0px 25px;
  }

  .heroImageSection .heroDescription h3 {
    font-size: 21px;
  }
  .heroImageSection .heroDescription p {
    font-size: 14px;
  }

  .partnersSection h3 {
    font-size: 24px;
  }
  .partnersSection .partnerLogos ul li img {
    width: 40%;
  }

  .formSection form .formFooter .greenBtn a {
    font-size: 15px;
  }

  .ourBrandsSection .contentDescription .tabContent {
    max-width: 90%;
  }
  .ourBrandsSection .contentDescription h4 {
    font-size: 20px;
  }

  .bannerSection .bannerContainer .bannerContent {
    width: 90%;
    left: 5%;
  }

  .ourStorySection .sidebarSection .sidebar {
    left: 5%;
    width: 90%;
  }
  .ourStorySection .contentDescription .tabContent {
    max-width: 90%;
  }
}
@media screen and (max-width: 440px) {
  .slideContainer .singleSlide .bannerContent {
    top: 5%;
  }
  .slideContainer .singleSlide .bannerContent .bannerHeader h1 {
    font-size: 22px;
  }
  .slideContainer .singleSlide .bannerContent .bannerHeader p {
    font-size: 14px;
  }
  .slideContainer .singleSlide .bannerContent .bannerCta {
    margin-top: 20px;
  }

  .sp-horizontal .sp-previous-arrow {
    left: 1px;
  }

  .sp-horizontal .sp-next-arrow {
    right: 1px;
  }

  .introSection {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .introSection .cntLeft p:nth-child(1) {
    font-size: 18px;
  }
  .introSection .cntLeft .emphasisText {
    font-size: 22px;
  }

  .coreSolutionsSection h3 {
    font-size: 20px;
    padding: 25px 0px;
  }
  .coreSolutionsSection .solutions {
    padding: 0px;
  }

  .contentSection .cntRight .iconSection {
    display: none;
  }
  .contentSection .cntRight .singleProcess .processDescription {
    margin-left: 0px;
  }
  .contentSection .contentDescription h3 {
    font-size: 24px;
  }

  .formSection form {
    padding: 15px;
  }

  .heroImageSection .heroDescription h3 {
    font-size: 18px;
  }

  .bannerSection .bannerContainer .bannerContent .bannerDescription p {
    font-size: 14px;
  }

  .contentSection .contentDescription .solutionsSection .solutions .singleSolution {
    padding-left: 15%;
  }

  .ourStorySection .sidebarSection .sidebar nav ul li {
    margin: 10px 0px;
    font-size: 15px;
  }
  .ourStorySection .sidebarSection .sidebar nav ul li .timeline {
    font-size: 15px;
  }
  .ourStorySection .sidebarSection .sidebar nav ul li .active {
    font-size: 18px;
  }
  .ourStorySection .sidebarSection .sidebar nav ul .active {
    font-size: 18px;
  }
  .ourStorySection .sidebarSection .sidebar nav ul .active .timeline {
    font-size: 18px;
  }
  .ourStorySection .contentDescription .tabContent h3 {
    font-size: 19px;
  }
  .ourStorySection .contentDescription .tabContent h4 {
    font-size: 16px;
  }

  .ourBrandsSection .contentDescription h3 {
    font-size: 23px;
  }
  .ourBrandsSection .contentDescription h4 {
    margin-top: 0px;
  }
  .ourBrandsSection .contentDescription p {
    font-size: 15px;
  }
  .ourBrandsSection .contentDescription .brandCta {
    padding: 10px;
  }
  .ourBrandsSection .contentDescription .brandCta .brandLogo,
.ourBrandsSection .contentDescription .brandCta .ctaSection {
    display: none;
  }
  .ourBrandsSection .contentDescription .brandCta .brandLink {
    text-align: center;
    position: relative;
    left: 0%;
    width: 100%;
  }
  .ourBrandsSection .contentDescription .brandCta .brandLink a {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
