/***** GENERAL STYLING *******/
h1,
h2,
h3 {
  font-family: "museo_sans_rounded900";
}

strong {
  font-family: "robotobold";
}

h4,
h5,
h6 {
  font-family: "robotomedium";
}

p,
a {
  font-family: "robotoregular";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-family: "robotobold";
}

.text-white {
  color: #ffffff;
}

.text-green {
  color: #9BCB53;
}

.text-blue {
  color: #446D8E;
}

.text-grey {
  color: #717171;
}

.whiteGradient {
  background: linear-gradient(#fff0, #FFFDFD);
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0%;
}

.iconLarge {
  font-size: 65px;
}

.greenBtn {
  background-color: #9BCB53;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.whiteBtn {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.whiteOutlineBtn {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 6px 15px;
  border-radius: 20px;
}

.whiteOutlineBtnLg {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

.blackOutlineBtn {
  background-color: transparent;
  border: 2px solid #000;
  padding: 6px 15px;
  border-radius: 20px;
}

.one_third,
.three_eigth {
  width: 30%;
  margin-right: 3%;
}

.two_third {
  width: 63%;
  margin-right: 3%;
}

.one_quarter {
  width: 23%;
  margin-right: 2%;
}

.half {
  width: 47%;
  margin-right: 2%;
}

.three_quarter {
  width: 73%;
  margin-right: 2%;
}

.full_width {
  width: 100%;
}

.one_fifth {
  width: 18%;
  margin-right: 2%;
}

.two_fifth {
  width: 38%;
  margin-right: 2%;
}

.three_fifth {
  width: 58%;
  margin-right: 2%;
  min-width: 58%;
}

.one_eigth {
  width: 10.5%;
  margin-right: 2%;
}

.two_eigth {
  width: 23%;
  margin-right: 2%;
}

.margin-bottom-3 {
  margin-bottom: 3%;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.width-20 {
  width: 20%;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.centerAlign {
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  margin-top: 0px !important;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  padding-top: 0px;
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.overlay {
  background-color: #000;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0.35;
}

.opacity-3 {
  opacity: 0.3;
}

header {
  position: relative;
  background-color: #ffffff;
}
header .headerWrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
header .headerWrapper .logoSection {
  display: inline-block;
  vertical-align: middle;
}
header .headerWrapper .navLinkCenter {
  display: inline-block;
  margin-left: 5%;
}
header .headerWrapper .navLinkCenter ul li {
  list-style: none;
  display: inline-block;
}
header .headerWrapper .navLinkCenter ul li a {
  font-family: "robotoregular";
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu {
  padding-left: 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  background: #fff;
  top: -70%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 5;
  visibility: hidden;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .linkTab {
  padding: 20px;
  border-bottom: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  text-align: center;
  width: 20%;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .linkTab .navIcon {
  display: block;
  text-align: center;
  font-size: 45px;
  color: #446D8E;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .linkTab:nth-child(4n) {
  border-right: none;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .purpleBtn {
  background-color: #446D8E;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  position: absolute;
  bottom: 9%;
  right: 10%;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .purpleBtn a {
  font-size: 20px;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks > .megaMenu .purpleBtn a .ctaIcon {
  margin-left: 20px;
}
header .headerWrapper .navLinkCenter ul > .subMenuLinks:hover > ul {
  visibility: visible;
  opacity: 1;
}
header .headerWrapper .socialNav .socialIcon {
  color: #9BCB53;
  font-size: 20px;
  border: 2px solid #9BCB53;
  border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
}
header .headerWrapper .socialNav .phoneNumber {
  border: 2px solid #9BCB53;
  border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  padding: 4px 10px;
  margin-left: 25px;
}

.slideContainer {
  position: relative;
}
.slideContainer .singleSlide {
  position: relative;
}
.slideContainer .singleSlide .bannerContent {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 50%;
  z-index: 1;
}
.slideContainer .singleSlide .bannerContent .bannerHeader p {
  font-family: "robotomedium";
  font-size: 25px;
}
.slideContainer .singleSlide .bannerContent .bannerHeader h1 {
  color: #9BCB53;
  font-size: 45px;
  margin: 0px;
}
.slideContainer .singleSlide .bannerContent .bannerDescription p {
  font-size: 25px;
}
.slideContainer .singleSlide .bannerContent .bannerDescription span {
  font-family: "robotoblack";
  font-size: 25px;
}
.slideContainer .singleSlide .bannerContent .bannerCta {
  margin-top: 20px;
}
.slideContainer .singleSlide .bannerContent .bannerCta a {
  font-size: 16px;
}
.slideContainer .singleSlide .bannerContent .bannerCta .ctaIcon {
  margin-left: 20px;
}
.slideContainer .singleSlide .waveIconSection {
  width: 20%;
  position: absolute;
  top: 41%;
  left: 4%;
  z-index: 0;
}
.slideContainer .bannerCtaSection {
  position: absolute;
  bottom: 5%;
  left: 11%;
}
.slideContainer .bannerCtaSection .singleCta {
  border-right: 0.25px solid #fff;
}
.slideContainer .bannerCtaSection .singleCta .ctaIconSection {
  width: 30%;
}
.slideContainer .bannerCtaSection .singleCta:nth-child(4n) {
  border-right: none;
}

.introSection {
  margin-top: 40px;
}
.introSection .cntLeft p {
  line-height: 1.6;
}
.introSection .cntLeft p:nth-child(1) {
  font-family: "robotomedium";
  font-size: 25px;
  margin: 0px;
}
.introSection .cntLeft .emphasisText {
  font-family: "museo_sans_rounded900";
  font-size: 45px;
}

.coreSolutionsSection {
  background: linear-gradient(#D3D3D385, #FFF0);
}
.coreSolutionsSection h3 {
  font-size: 35px;
  margin: 0 auto;
  width: 39%;
  padding: 40px 0px;
}
.coreSolutionsSection .solutions {
  padding: 30px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.coreSolutionsSection .solutions .singleSolution {
  box-shadow: 8px 4px 15px rgba(40, 40, 40, 0.09);
  border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: #fff;
}
.coreSolutionsSection .solutions .singleSolution .solutionImage {
  padding: 10px 20px;
}
.coreSolutionsSection .solutions .singleSolution .solutionContent {
  padding: 20px;
}
.coreSolutionsSection .solutions .singleSolution .solutionContent h4 {
  font-family: "robotomedium";
  font-size: 20px;
}
.coreSolutionsSection .solutions .singleSolution .solutionContent .ctaSection {
  margin-top: 30px;
}
.coreSolutionsSection .solutions .singleSolution .solutionContent .ctaSection a .ctaIcon {
  margin-left: 20px;
}

.contentSection .contentDescription h3 {
  font-size: 35px;
}
.contentSection .contentDescription p {
  line-height: 1.5;
}
.contentSection .contentDescription .iconsTabs {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.contentSection .contentDescription .singleProcess {
  margin-bottom: 3%;
}
.contentSection .contentDescription .singleProcess .processDescription {
  margin-left: 20px;
}
.contentSection .contentDescription .singleProcess .processDescription h4 {
  margin: 0px;
  font-size: 22px;
}
.contentSection .contentDescription .singleProcess .processDescription p {
  line-height: 1.5;
}

.heroImageSection {
  position: relative;
}
.heroImageSection .heroDescription {
  position: absolute;
  left: 50%;
  top: 0%;
  z-index: 1;
  margin: 0 auto;
  transform: translate(-50%, 50%);
}
.heroImageSection .heroDescription h3 {
  font-size: 35px;
  margin: 0 auto;
  width: 51%;
}
.heroImageSection .heroDescription p {
  line-height: 1.5;
  font-size: 18px;
}
.heroImageSection .heroDescription .btnSection {
  margin-top: 30px;
}
.heroImageSection .statsContainer {
  position: absolute;
  bottom: 5%;
  left: 11%;
}
.heroImageSection .statsContainer .singleStat {
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  border-right: 0.25px solid #fff;
  padding-right: 20px;
  padding-left: 20px;
}
.heroImageSection .statsContainer .singleStat .statContent {
  margin-left: 10px;
}
.heroImageSection .statsContainer .singleStat .statContent h4 {
  font-family: "robotobold";
  font-size: 32px;
  margin: 0px;
}
.heroImageSection .statsContainer .singleStat .statContent p {
  margin-top: 0px;
}
.heroImageSection .statsContainer .singleStat:last-child {
  border-right: none;
}

.partnersSection h3 {
  font-size: 35px;
}
.partnersSection .partnerLogos {
  margin: 20px 0px;
}
.partnersSection .partnerLogos ul {
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
}
.partnersSection .partnerLogos ul li {
  border-right: 1px solid #7070704d;
  width: 20%;
}
.partnersSection .partnerLogos ul li:last-child {
  border-right: none;
}

.bannerSection {
  position: relative;
}
.bannerSection .bannerContainer {
  position: relative;
}
.bannerSection .bannerContainer .bannerContent {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 44%;
  z-index: 1;
}
.bannerSection .bannerContainer .bannerContent .bannerHeader h1 {
  font-size: 45px;
}
.bannerSection .bannerContainer .bannerContent .bannerDescription p {
  font-size: 25px;
}
.bannerSection .bannerContainer .bannerContent .bannerDescription span {
  font-family: "robotoblack";
  font-size: 25px;
}
.bannerSection .bannerContainer .bannerContent .bannerCtaSection {
  margin-top: 50px;
}
.bannerSection .bannerContainer .bannerContent .bannerCtaSection .bannerCta {
  margin-right: 20px;
}
.bannerSection .bannerContainer .bannerContent .bannerCtaSection .bannerCta a {
  font-size: 16px;
}
.bannerSection .bannerContainer .bannerContent .bannerCtaSection .bannerCta a .ctaIcon {
  margin-left: 30px;
}

.solutionsIntroSection {
  position: relative;
}
.solutionsIntroSection .introText {
  margin: 0 auto;
  width: 50%;
}
.solutionsIntroSection .introText h3 {
  font-size: 35px;
}
.solutionsIntroSection .servicesSection {
  position: relative;
  margin-top: 50px;
}
.solutionsIntroSection .servicesSection .singleService {
  margin-bottom: 30px;
}
.solutionsIntroSection .servicesSection .singleService .serviceIcon {
  width: 50%;
}
.solutionsIntroSection .servicesSection .singleService .serviceContent {
  margin-top: 15px;
}
.solutionsIntroSection .servicesSection .singleService .serviceContent h5 {
  font-size: 18px;
  margin: 0px;
}
.solutionsIntroSection .servicesSection .singleService .serviceContent p {
  color: #9F9F9F;
}
.solutionsIntroSection .servicesSection .waveIconSection {
  position: absolute;
  width: 30%;
  right: -12%;
  top: 20%;
  opacity: 0.35;
  z-index: -2;
}
.solutionsIntroSection .servicesSection .ellipseIconSection {
  position: absolute;
  width: 25%;
  left: -17%;
  top: 12%;
  opacity: 0.35;
  z-index: -2;
}

.resultSection h4 {
  font-family: "robotoblack";
  font-size: 28px;
  margin-bottom: 0px;
}
.resultSection .results {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 70%;
}
.resultSection .results .singleResult {
  border-right: 2px solid #BCBBBB;
  margin-bottom: 25px;
}
.resultSection .results .singleResult h5 {
  font-size: 45px;
  margin: 15px 20px 0;
}
.resultSection .results .singleResult p {
  margin: 0px 20px 0;
}
.resultSection .results .singleResult:nth-child(2n) {
  border-right: none;
}
.resultSection .results .singleResult:nth-child(odd) h5,
.resultSection .results .singleResult:nth-child(odd) p {
  margin-left: 0px;
}

.mainFooter {
  background-color: #404040;
  padding: 20px 40px;
}
.mainFooter .footerMenuLinks h4 {
  text-transform: uppercase;
  color: #BCBBBB;
  font-family: "robotoregular";
}
.mainFooter .footerMenuLinks ul {
  padding-left: 0px;
}
.mainFooter .footerMenuLinks ul li {
  list-style: none;
  padding-bottom: 10px;
}
.mainFooter .footerMenuLinks ul li a {
  color: #BCBBBB;
  font-family: "robotoregular";
  text-transform: capitalize;
}
.mainFooter .footerMenuLinks .socialNav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mainFooter .footerMenuLinks .socialNav .socialIcon {
  color: #BCBBBB;
  font-size: 20px;
  border: 2px solid #BCBBBB;
  border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}
.mainFooter .footerMenuLinks .socialNav .phoneNumber {
  color: #BCBBBB;
  border: 2px solid #BCBBBB;
  border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  padding: 4px 10px;
  margin-left: 0px;
  margin-top: 20px;
}

/*# sourceMappingURL=main.css.map */
