/***** GENERAL STYLING *******/

//variables
$primaryColor: #9BCB53;
$secondaryColor: #446D8E;
$black: #000000;
$white: #ffffff;
$grey: #404040;
$lightenBlue: #E1EDF7;
$darkGrey: #707070;
$darkGrey2: #404040;
$darkGrey3: #717171;
$lightGrey1: #9F9F9F;
$lightGrey2: #A5A5A5;

//mixins
@mixin borderRadius($radius) {
  border-radius: $radius;
  -o-border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin transition($duration, $direction) {
  -webkit-transition: all $duration $direction;
  -moz-transition: all $duration $direction;
  transition: all $duration $direction;
}

//flexbox
@mixin flexbox($flex) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexDirection($direction) {
  -webkit-flex-flow: $direction;
  -ms-flex-flow: $direction;
  flex-direction: $direction;
}

@mixin flexWrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin justifyContent($justifyProperty) {
  -webkit-justify-content: $justifyProperty;
  -ms-flex-pack: $justifyProperty;
  justify-content: $justifyProperty;
}

@mixin alignItems($alignProperty) {
  -webkit-align-items: $alignProperty;
  -ms-flex-pack: $alignProperty;
  align-items: $alignProperty;
}

//typography
h1,
h2,
h3 {
  font-family: 'museo_sans_rounded900';
}

strong {
  font-family: 'robotobold';
}

h4,
h5,
h6 {
  font-family: 'robotomedium';
}

p,
a {
  font-family: 'robotoregular';
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.text-white {
  color: $white;
}

.text-green {
  color: $primaryColor;
}

.text-blue {
  color: $secondaryColor;
}

//buttons

.greenBtn {
  background-color: $primaryColor;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.whiteOutlineBtn {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 6px 15px;
  border-radius: 20px;
}

.blackOutlineBtn {
  background-color: transparent;
  border: 2px solid #000;
  padding: 6px 15px;
  border-radius: 20px;
}

//grid
.one_third,
.three_eigth {

  width: 30%;
  margin-right: 3%;

}

.two_third {
  width: 63%;
  margin-right: 3%;
}

.one_quarter {

  width: 23%;
  margin-right: 2%;

}

.half {

  width: 47%;
  margin-right: 2%;

}

.three_quarter {

  width: 73%;
  margin-right: 2%;

}

.full_width {

  width: 100%;

}

.one_fifth {

  width: 18%;
  margin-right: 2%;

}

.two_fifth {
  width: 38%;
  margin-right: 2%;
}

.three_fifth {

  width: 58%;
  margin-right: 2%;
  min-width: 58%;

}

.one_eigth {

  width: 10.5%;
  margin-right: 2%;

}

.two_eigth {

  width: 23%;
  margin-right: 2%;

}

.fr {
  float: right;
}

.fl {
  float: left;
}

.width-20 {
  width: 20%;
}

.text-center {
  text-align: center;
}

.d-flex {
  @include flexbox(flex);
}

.centerAlign {
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  margin-top: 0px !important;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {

  padding-top: 0px;
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}

//NAVIGATION MENU
header {
  position: relative;
  background-color: $white;

  .headerWrapper {
    padding-top: 20px;
    padding-bottom: 20px;

    .logoSection {
      display: inline-block;
      vertical-align: middle;
    }

    .navLinkCenter {
      display: inline-block;
      margin-left: 5%;

      ul {

        li {
          list-style: none;
          display: inline-block;

          a {
            font-family: 'robotoregular';
            margin-right: 10px;
            margin-left: 10px;
            font-size: 16px;
          }

        }

        >.subMenuLinks {

          >.megaMenu {

            padding-left: 0px;
            @include flexWrap(wrap);
            position: absolute;
            background: #fff;
            top: -70%;
            left: 50%;
            transform: translate(-50%, 50%);
            z-index: 5;
            visibility: hidden;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;

            .linkTab {

              padding: 20px;
              border-bottom: 1px solid #EAEAEA;
              border-right: 1px solid #EAEAEA;
              text-align: center;
              width: 20%;

              a {
                font-family: 'robotobold';
              }

              .navIcon {
                display: block;
                text-align: center;
                font-size: 45px;
                color: $secondaryColor;
              }

              &:nth-child(4n) {
                border-right: none;
              }

            }

            .purpleBtn {
              background-color: $secondaryColor;
              border: none;
              padding: 10px 20px;
              border-radius: 20px;
              position: absolute;
              bottom: 9%;
              right: 10%;

              a {
                font-size: 20px;

                .ctaIcon {
                  margin-left: 20px;
                }
              }
            }
          }

          &:hover>ul {
            visibility: visible;
            opacity: 1;
          }

        }


      }

    }

    .socialNav {

      .socialIcon {
        color: $primaryColor;
        font-size: 20px;
        border: 2px solid $primaryColor;
        @include borderRadius(40px);
        height: 30px;
        width: 30px;
        display: inline-block;
        text-align: center;
        margin-left: 15px;
      }

      .phoneNumber {
        border: 2px solid $primaryColor;
        @include borderRadius(30px);
        padding: 4px 10px;
        margin-left: 25px;
      }
    }

  }

}

//BANNER SECTION

.slideContainer {
  position: relative;

  .singleSlide {
    position: relative;

    .overlay {
      background-color: #000;
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      opacity: 0.35;
    }

    .bannerContent {
      position: absolute;
      left: 10%;
      top: 10%;
      width: 50%;
      z-index: 1;

      .bannerHeader {
        p {
          font-family: 'robotomedium';
          font-size: 25px;
        }

        h1 {
          color: $primaryColor;
          font-size: 45px;
          margin: 0px;
        }
      }

      .bannerDescription {
        p {
          font-size: 25px;
        }

        span {
          font-family: 'robotoblack';
          font-size: 25px;
        }
      }

      .bannerCta {
        margin-top: 20px;

        a {
          font-family: 'robotobold';
          font-size: 16px;
        }

        .ctaIcon {
          margin-left: 20px;
        }
      }

    }

    .waveIconSection {
      width: 20%;
      position: absolute;
      top: 41%;
      left: 4%;
      z-index: 0;
    }

  }

  .bannerCtaSection {

    position: absolute;
    bottom: 5%;
    left: 11%;

    .singleCta {
      border-right: 0.25px solid #fff;

      .ctaIconSection {
        width: 30%;
      }

      &:nth-child(4n) {
        border-right: none;
      }
    }

  }

}

//INTRO SECTION

.introSection {
  margin-top: 40px;

  .cntLeft {

    p {

      line-height: 1.6;

      &:nth-child(1) {
        font-family: 'robotomedium';
        font-size: 25px;
        margin: 0px;
      }
    }

    .emphasisText {
      font-family: 'museo_sans_rounded900';
      font-size: 45px;
    }
  }

}

.coreSolutionsSection {

  h3 {
    font-size: 35px;
  }

  .solutions {
    padding: 30px;

    .singleSolution {
      box-shadow: 8px 4px 15px rgba(40, 40, 40, 0.09);
      @include borderRadius(20px);

      .solutionContent {

        padding: 20px;

        h4 {
          font-family: 'robotomedium';
          font-size: 20px;
        }

        .ctaSection {

          margin-top: 30px;

          a {
            font-family: 'robotobold';

            .ctaIcon {
              margin-left: 20px;
            }
          }
        }

      }
    }
  }
}

.contentSection {

  .contentDescription {

    h3 {
      font-family: 'museo_sans_rounded900';
      font-size: 35px;
    }

    p {
      line-height: 1.5;
    }

    .iconsTabs {
      @include flexWrap(wrap);
    }

    .singleProcess {
      margin-bottom: 3%;


      .processDescription {

        margin-left: 20px;

        h4 {
          margin: 0px;
          font-size: 22px;
        }

        p {
          line-height: 1.5;
        }

      }
    }

  }


}


.partnersSection {

  h3 {
    font-size: 35px;
  }

  .partnerLogos {

    margin: 20px 0px;

    ul {
      @include justifyContent(space-evenly);
      @include alignItems(center);

      li {
        border-right: 1px solid #7070704d;
        width: 20%;

        &:last-child {
          border-right: none;
        }
      }

    }

  }

}

//FOOTER SECTION
.mainFooter {

  background-color: $darkGrey2;
  padding: 20px 40px;

  .logoSection {

    img {
      filter: grayscale(1);
    }
  }

  .footerMenuLinks {

    h4 {
      text-transform: uppercase;
      color: #BCBBBB;
      font-family: 'robotoregular';
    }

    ul {
      padding-left: 0px;

      li {
        list-style: none;
        padding-bottom: 10px;

        a {
          color: #BCBBBB;
          font-family: 'robotoregular';
          text-transform: capitalize;
        }
      }
    }

    .socialNav {
      @include flexbox(flex);
      @include flexWrap(wrap);

      .socialIcon {
        color: #BCBBBB;
        font-size: 20px;
        border: 2px solid #BCBBBB;
        @include borderRadius(40px);
        height: 30px;
        width: 30px;
        display: inline-block;
        text-align: center;
        margin-right: 15px;
      }

      .phoneNumber {
        color: #BCBBBB;
        border: 2px solid #BCBBBB;
        @include borderRadius(30px);
        padding: 4px 10px;
        margin-left: 0px;
        margin-top: 20px;
      }
    }

  }
}
