/***** GENERAL STYLING *******/

//variables
$primaryColor: #9BCB53;
$secondaryColor: #446D8E;
$black: #000000;
$white: #ffffff;
$grey: #404040;
$lightenBlue: #E1EDF7;
$darkGrey: #707070;
$darkGrey2: #404040;
$darkGrey3: #717171;
$lightGrey1: #9F9F9F;
$lightGrey2: #A5A5A5;

//mixins
@mixin borderRadius($radius) {
  border-radius: $radius;
  -o-border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin transition($duration, $direction) {
  -webkit-transition: all $duration $direction;
  -moz-transition: all $duration $direction;
  transition: all $duration $direction;
}

//flexbox
@mixin flexbox($flex) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexDirection($direction) {
  -webkit-flex-flow: $direction;
  -ms-flex-flow: $direction;
  flex-direction: $direction;
}

@mixin flexWrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin justifyContent($justifyProperty) {
  -webkit-justify-content: $justifyProperty;
  -ms-flex-pack: $justifyProperty;
  justify-content: $justifyProperty;
}

@mixin alignItems($alignProperty) {
  -webkit-align-items: $alignProperty;
  -ms-flex-pack: $alignProperty;
  align-items: $alignProperty;
}

//typography
h1,
h2,
h3 {
  font-family: 'museo_sans_rounded900';
}

strong {
  font-family: 'robotobold';
}

h4,
h5,
h6 {
  font-family: 'robotomedium';
}

p,
a {
  font-family: 'robotoregular';
}

.invalid-field {

  div,
  label {

    font-family: 'robotoregular';
    font-size: 14px;
    margin-top: 10px;
    color: #e90000;

  }
}


a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-family: 'robotobold';
}

.processor {

  text-align: center;
  clear: both;

  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #9BCB53;
  }

  .mat-progress-spinner {
    margin: 0 auto;
  }

}


.processor.fill {

  min-height: 50vh;

}



.text-white {
  color: $white;
}

.text-green {
  color: $primaryColor;
}

.text-blue {
  color: $secondaryColor;
}

.text-grey {
  color: $darkGrey3;
}

.whiteGradient {
  background: linear-gradient(#fff0, #FFFDFD);
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0%;
}

//icon sizes

.iconLarge {
  font-size: 65px;
}

//buttons

.greenBtn {
  background-color: $primaryColor;
  border: none;
  padding: 10px 20px;
  @include borderRadius(20px);

  &:hover {
    background-color: $secondaryColor;
  }

}

.whiteBtn {
  background-color: $white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.whiteOutlineBtn {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 6px 15px;
  border-radius: 20px;

  &:hover {
    background-color: $secondaryColor;
  }

}

.whiteOutlineBtnLg {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

.blackOutlineBtn {
  background-color: transparent;
  border: 2px solid #000;
  padding: 6px 15px;
  border-radius: 20px;

  &:hover {
    background-color: $secondaryColor;
    border: 2px solid #fff;
  }

}

//grid
.one_third,
.three_eigth {

  width: 30%;
  margin-right: 3%;

}

.two_third {
  width: 63%;
  margin-right: 3%;
}

.one_quarter {

  width: 23%;
  margin-right: 2%;

}

.half {

  width: 47%;
  margin-right: 2%;

}

.three_quarter {

  width: 73%;
  margin-right: 2%;

}

.full_width {

  width: 100%;

}

.one_fifth {

  width: 18%;
  margin-right: 2%;

}

.two_fifth {
  width: 38%;
  margin-right: 2%;
}

.three_fifth {

  width: 58%;
  margin-right: 2%;
  min-width: 58%;

}

.one_eigth {

  width: 10.5%;
  margin-right: 2%;

}

.two_eigth {

  width: 23%;
  margin-right: 2%;

}

.margin-bottom-3 {
  margin-bottom: 3%;
}

.margin-top100 {

  margin-top: 100px;
  display: block;

}

.fr {
  float: right;
}

.fl {
  float: left;
}

.width-20 {
  width: 20%;
}

.text-center {
  text-align: center;
}

.d-flex {
  @include flexbox(flex);
}

.centerAlign {
  width: 100%;
  overflow: hidden;
  max-width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  margin-top: 0px !important;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {

  padding-top: 0px;
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding-top: 60px;

}

.overlay {
  background-color: #000;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0.5;
}

.opacity-3 {
  opacity: 0.3;
}

//NAVIGATION MENU
header {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 8px 4px 15px rgba(40, 40, 40, 0.09);

  .headerWrapper {
    @include justifyContent(space-between);
    @include alignItems(center);

    .logoSection {
      display: inline-block;
      vertical-align: middle;
    }

    .navLinkCenter {

      ul {
        padding-left: 0px;
        margin: 0px;

        li {
          list-style: none;
          display: inline-block;
          line-height: 100px;

          a {
            font-family: 'robotoregular';
            margin-right: 10px;
            margin-left: 10px;
            font-size: 16px;

            &:hover {
              color: $primaryColor;
              border-bottom: 3px solid $primaryColor;
            }

            .active {
              color: $primaryColor;
              border-bottom: 3px solid $primaryColor;
              font-family: 'robotobold';
            }
          }

        }

        >.subMenuLinks {

          >.megaMenu {

            @include flexWrap(wrap);
            position: absolute;
            background: #fff;
            top: 100px;
            left: 10%;
            z-index: 20;
            visibility: hidden;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            box-shadow: -2px 4px 10px rgba(40, 40, 40, 0.35);

            .linkTab {

              padding: 20px;
              border-bottom: 1px solid #EAEAEA;
              border-right: 1px solid #EAEAEA;
              text-align: center;
              width: 20%;
              line-height: normal;

              a {
                font-family: 'robotobold';
              }

              .navIcon {
                display: block;
                text-align: center;
                font-size: 45px;
                color: $secondaryColor;

                &:hover {
                  color: $primaryColor;
                }

              }

              &:nth-child(4n) {
                border-right: none;
              }

              &:hover {
                color: $primaryColor;
              }

            }

            .purpleBtn {
              background-color: $secondaryColor;
              border: none;
              padding: 10px 20px;
              border-radius: 20px;
              position: absolute;
              bottom: 9%;
              right: 8%;

              a {
                font-size: 20px;

                .ctaIcon {
                  margin-left: 20px;
                }

                &:hover {
                  color: #fff;
                }

              }

              &:hover {
                background-color: $primaryColor;
              }

            }
          }

          &:hover>ul {
            visibility: visible;
            opacity: 1;
          }

        }


      }

    }

    .socialNav {

      .socialIcon {
        color: $primaryColor;
        font-size: 20px;
        border: 2px solid $primaryColor;
        @include borderRadius(40px);
        height: 30px;
        width: 30px;
        display: inline-block;
        text-align: center;
        margin-left: 15px;

        svg {
          vertical-align: middle;
        }

        &:hover {
          background-color: $secondaryColor;
          color: #fff;
          border: 2px solid $secondaryColor;
        }
      }

      .phoneNumber {
        border: 2px solid $primaryColor;
        @include borderRadius(30px);
        padding: 4px 10px;
        margin-left: 25px;

        &:hover {
          background-color: $secondaryColor;
          color: #fff;
          border: 2px solid $secondaryColor;
        }

      }
    }

  }

}

.mobileMenu {
  display: none;
}

.menuToggle {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  display: none;
}

//BANNER SECTION

.slideContainer {
  position: relative;

  .singleSlide {
    position: relative;

    .bannerContent {
      position: absolute;
      left: 10%;
      top: 10%;
      width: 50%;
      z-index: 1;

      .bannerHeader {
        p {
          font-family: 'robotomedium';
          font-size: 25px;
        }

        h1 {
          color: $primaryColor;
          font-size: 45px;
          margin: 0px;
        }
      }

      .bannerDescription {
        p {

          font-size: 25px;
          color: #ffffff;

        }

        span {
          font-family: 'robotoblack';
          font-size: 25px;
        }
      }

      .bannerCta {
        margin-top: 40px;

        a {
          font-size: 16px;
        }

        .ctaIcon {
          margin-left: 20px;
        }
      }

    }

    .waveIconSection {
      width: 20%;
      position: absolute;
      top: 41%;
      left: 4%;
      z-index: 0;
    }

  }

  .bannerCtaSection {

    position: absolute;
    bottom: 5%;
    left: 10%;

    .singleCta {
      border-right: 0.25px solid #fff;

      .ctaIconSection {
        width: 30%;
      }

      &:nth-child(4n) {
        border-right: none;
      }
    }

  }

}

//INTRO SECTION

.introSection {
  margin-top: 40px;
  margin-bottom: 40px;

  .cntLeft {

    p {

      line-height: 1.6;

      &:nth-child(1) {
        font-family: 'robotomedium';
        font-size: 25px;
        margin: 0px;
      }
    }

    .emphasisText {
      font-family: 'museo_sans_rounded900';
      font-size: 45px;
    }
  }

}

.coreSolutionsSection {

  background: linear-gradient(#D3D3D385, #FFF0);

  h3 {
    font-size: 35px;
    margin: 0 auto;
    width: 39%;
    padding: 40px 0px;
  }

  .solutions {
    padding: 20px 30px;
    @include flexWrap(wrap);

    .singleSolution {
      box-shadow: 8px 4px 15px rgba(40, 40, 40, 0.09);
      @include borderRadius(20px);
      background-color: #fff;

      .solutionImage {

        img {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }

      }

      .solutionContent {

        padding: 15px 20px;

        h4 {
          font-family: 'robotomedium';
          font-size: 20px;
          margin-top: 0px;
          margin-bottom: 0px;
        }

        .ctaSection {
          margin-bottom: 15px;
          margin-top: 30px;

          a {
            .ctaIcon {
              margin-left: 20px;
            }

            &:hover {
              color: #fff;
            }
          }
        }

      }

    }
  }
}

.contentSection {

  position: relative;

  .cntRight {

    position: relative;

    h3 {
      font-size: 35px;
    }

    p {
      line-height: 1.5;
    }

    .iconsTabs {
      @include flexWrap(wrap);
    }

    .singleProcess {
      margin-bottom: 3%;

      .iconSection {
        img {
          max-width: 100px;
        }
      }

      .processDescription {

        margin-left: 20px;

        h4 {
          margin: 0px;
          font-size: 22px;
        }

        p {
          line-height: 1.5;
        }

      }
    }

  }

  .contentDescription {

    position: relative;
    width: 50%;
    margin-top: 0px;
    display: inline-block;
    margin-left: 0%;

    h3 {
      font-size: 35px;
      margin-bottom: 0px;
    }

    p {
      line-height: 1.5;
    }

    .solutionsSection {

      .solutions {
        @include flexWrap(wrap);
        @include alignItems(center);

        .singleSolution {
          padding: 25px 0px;
          border: 2px solid #707070;
          @include borderRadius(5px);
          width: 31%;
          margin-right: 2%;
          margin-bottom: 4%;
          cursor: pointer;
          padding-left: 8%;
          padding-right: 8%;
          position: relative;
          @include alignItems(center);
          z-index: 6;

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }

          .customCheck {
            position: absolute;
            left: 10px;
            top: 50%;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid gray;
            margin-top: -10px;
            // z-index: -2;
            pointer-events: none;
          }

        }

        input:checked~.customCheck {
          background-color: #446D8E;
          border: 2px solid #fff;
        }

        .activeSolution {
          background-color: $primaryColor;
          border: 2px solid #9BCB53;
        }

      }


    }

  }


}

.heroImageSection {
  position: relative;

  .heroDescription {
    position: absolute;
    left: 50%;
    bottom: 55%;
    z-index: 1;
    margin: 0 auto;
    transform: translate(-50%, 50%);

    h3 {
      font-size: 35px;
      margin: 0 auto;
      width: 51%;
    }

    p {
      line-height: 1.5;
      font-size: 18px;
    }

    .btnSection {
      margin-top: 30px;
    }

  }

  .statsContainer {
    position: absolute;
    bottom: 11%;
    left: 8%;

    .singleStat {
      @include alignItems(center);
      border-right: 0.25px solid #fff;
      padding-right: 20px;
      padding-left: 20px;

      .statContent {
        margin-left: 10px;

        h4 {
          font-family: 'robotobold';
          font-size: 32px;
          margin: 0px;
        }

        p {
          margin-top: 0px;
        }

      }

      &:last-child {
        border-right: none;
      }

    }

  }

}


.partnersSection {

  h3 {
    font-size: 35px;
  }

  .partnerLogos {

    margin: 20px 0px;

    ul {
      @include justifyContent(space-evenly);
      @include alignItems(center);
      padding-left: 0px;

      li {
        border-right: 1px solid #7070704d;
        width: 20%;
        list-style: none;

        &:last-child {
          border-right: none;
        }

      }

    }

  }

}


//SOLUTIONS BANNER SECTION

.bannerSection {
  position: relative;
  z-index: 1;

  .bannerContainer {
    position: relative;

    .bannerContent {
      position: absolute;
      left: 10%;
      top: 20%;
      width: 45%;
      z-index: 1;

      .bannerHeader {
        h1 {
          font-size: 45px;
        }
      }

      .bannerDescription {
        p {

          font-size: 25px;
          color: #ffffff;

        }

        span {
          font-family: 'robotoblack';
          font-size: 25px;
        }
      }

      .bannerCtaSection {
        margin-top: 50px;

        .bannerCta {
          margin-right: 20px;

          a {
            font-size: 16px;

            .ctaIcon {
              margin-left: 30px;
            }

          }

        }

      }

    }

  }
}

.solutionsIntroSection {

  position: relative;

  .introText {

    margin: 0 auto;
    width: 50%;

    h3 {
      font-size: 35px;
    }

  }

  .servicesSection {

    position: relative;
    margin-top: 50px;

    .singleService {
      margin-bottom: 30px;

      .serviceIcon {
        width: 50%;
      }

      .serviceContent {
        margin-top: 15px;

        h5 {
          font-size: 18px;
          margin: 0px;
        }

        p {
          color: $lightGrey1;
        }
      }
    }

    .waveIconSection {
      position: absolute;
      width: 30%;
      right: -12%;
      top: 20%;
      opacity: 0.35;
      z-index: -2;
    }

    .ellipseIconSection {
      position: absolute;
      width: 25%;
      left: -17%;
      top: 12%;
      opacity: 0.35;
      z-index: -2;
    }

  }

}

.resultSection {
  h4 {
    font-family: 'robotoblack';
    font-size: 28px;
    margin-bottom: 0px;
  }

  .results {
    @include flexWrap(wrap);
    width: 70%;

    .singleResult {

      border-right: 2px solid #BCBBBB;
      margin-bottom: 25px;

      h5 {
        font-size: 45px;
        margin: 15px 20px 0;
      }

      p {
        margin: 0px 20px 0;

      }

      &:nth-child(2n) {
        border-right: none;

      }

      &:nth-child(odd) {

        h5,
        p {
          margin-left: 0px;

        }
      }

    }

  }

}

//CONTACT SECTION

.formSection {
  position: relative;
  width: 46%;
  margin-left: 4%;

  form {
    background-color: #F2F2F2;
    @include borderRadius(20px);
    padding: 39px 29px 20px 36px;
    margin-bottom: 36px;
    margin-top: 39px;

    .row {
      margin-bottom: 25px;
      overflow: hidden;

      label {
        display: block;
        font-family: 'robotomedium';
        font-size: 13px;
        margin-bottom: 5px;
      }

      input {

        border: none;
        width: 100%;
        height: 45px;
        @include borderRadius(6px);
        font-family: "robotoregular";
        text-indent: 5px;
      }

      textarea {
        border: none;
        width: 100%;
        @include borderRadius(6px);
        font-family: "robotoregular";
        text-indent: 5px;
      }
    }

    .formFooter {

      .greenBtn:disabled,
      .greenBtn[disabled] {
        border: 1px solid #3e3e3e;
        background-color: #3e3e3e;
        color: #B1B1B1;
        opacity: 0.3;
      }

      .greenBtn {

        position: relative;
        text-align: left;
        font-size: 18px;
        cursor: pointer;


        .ctaIcon {

          position: absolute;
          right: 20px;

        }



        a {


          .ctaIcon {
            position: absolute;
            right: 3%;
            font-size: 25px;
            top: 10%;
          }
        }
      }
    }

  }

}

//OUR STORY
.ourStorySection {
  margin-top: 2%;

  .sidebarSection {
    position: fixed;
    width: 47%;
    left: 0%;
    top: 102px;
    display: inline-block;
    bottom: 0%;

    .sidebar {
      position: absolute;
      width: 90%;
      left: 10%;
      top: 20%;

      nav {

        ul {

          li {
            margin: 20px 40px;
            font-size: 20px;
            font-family: 'museo_sans_rounded900';
            color: #fff;
            cursor: pointer;
            list-style: none;
            position: relative;

            .ellipse {
              display: inline-block;
              width: 20px;
              height: 20px;
              background: url('../img/icons/white-ellipse.png') center center no-repeat;
              pointer-events: none;
            }

            .timeline {
              list-style: none;
              font-size: 20px;
              font-family: 'museo_sans_rounded900';
              color: #fff;
              opacity: 0.5;
              position: absolute;
              right: 0%;
              pointer-events: none;
              
            }

          }

          .hideTimeline {
            display: none;
          }

          .active {

            color: $primaryColor;
            font-size: 25px;

            .ellipse {
              display: inline-block;
              width: 20px;
              height: 20px;
              background: url('../img/icons/active-ellipse.png') center center no-repeat;
              pointer-events: none;
            }

            .timeline{
              color: $primaryColor;
              font-size: 25px;
              opacity: 1;
            }


          }


        }

      }
    }


    .timelineSidebar {
      position: absolute;
      right: 10%;
      top: 30%;

      nav {

        ul {

          li {
            margin: 20px 15px;
            list-style: none;
            font-size: 20px;
            font-family: 'museo_sans_rounded900';
            color: #fff;
            opacity: 0.5;
            cursor: pointer;
          }

          .active {
            color: $primaryColor;
            font-size: 25px;
            opacity: 1;
          }


        }

      }

    }

    .sidebarBackground {

      .hideImage {
        display: none;
      }

    }

  }

  .contentDescription {
    position: relative;
    width: 50%;
    margin-top: 0px;
    background-color: #ffffff;
    overflow-y: scroll;
    min-height: 100vh;
    max-height: 100vh;
    display: inline-block;
    margin-left: 50%;

    h3 {
      font-size: 35px;
      margin-bottom: 0px;
    }

    h4 {
      font-size: 25px;
      margin-bottom: 0px;
    }

    p {
      line-height: 1.5;
    }

    .hideContent {
      display: none;
    }

  }

}

.servicesOffered {

  ul {
    padding-left: 20px;

    li {
      font-family: 'robotobold';
      padding-bottom: 10px;

    }
  }
}

//OUR BRANDS
.ourBrandsSection {
  margin-top: 2%;
  position: relative;

  .imgSection {
    position: relative;
  }

  .contentDescription {

    h3 {
      font-size: 35px;
      margin-bottom: 0px;
    }

    h4 {
      font-size: 25px;
      margin-bottom: 0px;
    }

    p {
      line-height: 1.5;
    }

    .brandCta {
      background-color: #4A4A4A;
      @include borderRadius(15px);
      @include alignItems(center);
      @include justifyContent(space-between);
      padding: 20px 34px 20px 38px;
      margin: 35px 0;
      position: relative;

      .brandLogo {
        img {
          width: 70%;
        }
      }

      .brandLink {

        position: absolute;
        left: 30%;

        a {
          font-family: 'robotomedium';
          font-size: 25px;
        }
      }

      .ctaSection {

        .ctaIcon {
          font-size: 36px;
        }

      }

    }


  }

}

.contactUs {
  margin-top: 2%;
}


//FOOTER SECTION
.mainFooter {

  position: relative;
  background-color: $darkGrey2;
  padding: 20px 0px;

  .logoSection {
    margin-top: 20px;
  }

  .footerMenuLinks {

    h4 {
      text-transform: uppercase;
      color: #BCBBBB;
      font-family: 'robotoregular';
    }

    ul {
      padding-left: 0px;

      li {
        list-style: none;
        padding-bottom: 10px;

        a {
          color: #BCBBBB;
          font-family: 'robotoregular';
          text-transform: capitalize;

          &:hover {
            color: #fff;
          }

        }

      }
    }

    .socialNav {
      @include flexbox(flex);
      @include flexWrap(wrap);

      .socialIcon {
        color: #BCBBBB;
        font-size: 20px;
        border: 2px solid #BCBBBB;
        @include borderRadius(40px);
        height: 35px;
        width: 35px;
        display: inline-block;
        text-align: center;
        margin-right: 15px;

        svg {
          vertical-align: middle;
        }

        &:hover {
          color: #fff;
          border: 2px solid white;
        }

      }

      .phoneNumber {
        color: #BCBBBB;
        border: 2px solid #BCBBBB;
        @include borderRadius(30px);
        padding: 4px 10px;
        margin-left: 0px;
        margin-top: 20px;

        &:hover {
          color: #fff;
          border: 2px solid white;
        }

      }
    }

  }
}


//MEDIA QUERY

@media screen and (max-width:1410px) {

  //slider section
  .slideContainer {

    .singleSlide {

      .bannerContent {
        .bannerCta {
          margin-top: 10px;
        }
      }
    }

    .bannerCtaSection {
      bottom: 2%;
    }

  }

  .heroImageSection {

    .statsContainer {
      left: 3%;
      bottom: 1%;
    }

  }

}


@media screen and (max-width:1340px) {

  //slider section
  .slideContainer {

    .singleSlide {

      .bannerContent {

        width: 80%;
        top: 5%;

        .bannerHeader h1 {
          font-size: 40px;
        }
      }
    }


  }

  .heroImageSection {

    .heroDescription {

      bottom: 45%;

      h3 {
        width: 80%;
      }
    }

  }

  .partnersSection {

    .partnerLogos {

      ul {
        padding-left: 0px;
        @include flexWrap(wrap);

        li {
          border-right: none;
          width: 50%;
          @include flexbox(flex);
          @include justifyContent(center);
          margin-bottom: 15px;
        }

      }

    }

  }

  .bannerSection {

    .bannerContainer {

      .bannerContent {
        left: 10%;
        width: 80%;

        .bannerHeader {
          h1 {
            font-size: 40px;
          }
        }

        .bannerDescription {

          p {
            font-size: 21px;
          }

        }

      }

      img {
        min-width: 990px;
      }

    }

  }
}

@media screen and (max-width:1200px) {

  //navigation menu

  .headerWrapper {

    .logoSection {
      padding: 5px;

      img {
        width: 70%;
      }
    }

    .navLinkCenter {

      ul {
        display: none;
      }

    }

    .socialNav {
      display: none;
    }

    .menuToggle {

      display: block;
      background: url('../img/icons/menuopener.png') center center no-repeat #9BCB53;
      background-size: 15px;
    }

    .menuToggle.open {
      background: url('../img/icons/menucloser.png') center center no-repeat #9BCB53;
      background-size: 15px;
    }

  }


  .mobileMenu {
    display: none;
    position: fixed;
    left: -100%;
    top: 0px;
    bottom: 0px;
    width: 220px;
    z-index: 50;
    background-color: #FFF;
    box-shadow: 5px 9px 60px rgba(40, 40, 40, 0.49);

    nav {

      ul {
        padding: 0px;

        li {
          list-style: none;
          position: relative;
          padding: 10px 15px;

          a {
            font-size: 16px;
            font-family: "robotoregular";

            &:hover {
              color: $primaryColor;
              border-bottom: 3px solid $primaryColor;
            }

            .active {
              color: $primaryColor;
              border-bottom: 3px solid $primaryColor;
              font-family: 'robotobold';
            }

          }

        }

        >.subMenuLinks {

          >.megaMenu {
            display: none;

            .linkTab {
              padding-left: 0px;
            }
          }

          .openSubMenu {
            display: block;
          }

        }

      }
    }

    .socialNav {

      .socialIcon {
        color: $primaryColor;
        font-size: 20px;
        border: 2px solid $primaryColor;
        @include borderRadius(40px);
        height: 30px;
        width: 30px;
        display: inline-block;
        text-align: center;
        margin-left: 15px;

        svg {
          vertical-align: middle;
        }

        &:hover {
          background-color: $secondaryColor;
          color: #fff;
          border: 2px solid $secondaryColor;
        }
      }

    }

    .phoneNumber {
      border: 2px solid $primaryColor;
      @include borderRadius(30px);
      padding: 4px 10px;
      margin: 20px 15px 0 10px;

      &:hover {
        background-color: $secondaryColor;
        color: #fff;
        border: 2px solid $secondaryColor;
      }
    }

  }

  .slideContainer {

    .singleSlide {

      .bannerContent {

        width: 80%;
        top: 20%;

        .bannerCta {
          margin-top: 30px;
        }
      }

    }

    .bannerCtaSection {
      display: none
    }

  }

  .introSection {

    .cntLeft {
      width: 100%;
      margin-right: 0%;
    }

    .cntRight {
      display: none;
    }

  }

  .coreSolutionsSection {

    h3 {
      font-size: 35px;
      width: 80%;
    }

    .solutions {

      padding: 0px 30px;

      .singleItem {
        width: 30%;
        margin-right: 1.5%;
        margin-left: 1.5%;

        .singleSolution {

          .solutionImage {

            text-align: center;

          }

          .solutionContent {

            h4 {
              font-size: 18px;
            }

          }

        }

      }

    }

  }

  .contentSection {

    @include flexWrap(wrap);

    .cntLeft {
      display: none;
    }

    .cntRight {
      width: 80%;
      margin: 0 auto;

      h3 {
        text-align: center;
      }

      .iconsTab {
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
      }
    }

    .contentDescription {
      position: relative;
      width: 100%;
      margin-top: 0px;
      overflow-y: hidden;
      min-height: auto;
      max-height: none;
      margin-left: 0%;
    }


  }

  .formSection {
    top: 0%;
    position: relative;
    width: 100%;
    right: 0%;
  }

  .heroImageSection {

    .heroDescription {

      h3 {
        font-size: 30px;
      }
    }

  }

  .statsContainer {
    display: none;
  }

  .bannerSection {

    .bannerContainer {

      .bannerContent {
        top: 10%;

        .bannerHeader {
          h1 {
            font-size: 35px;
          }
        }

      }

    }

  }

  .ourStorySection {

    margin-top: 0%;

    .sidebarSection {
      position: absolute;
      width: 100%;
      left: 0%;
      top: 62px;
      background-color: #446D8E;
      z-index: 1;
      height: 200px;

      .sidebar {
        left: 10%;
        top: 3%;
        width: 80%;

        nav {

          ul {

            padding-left: 0px;

            li {
              margin: 15px 0px;
            }

          }

        }

      }

      .sidebarContainer {
        .sidebarBackground {
          display: none;
        }
      }

    }

    .contentDescription {

      width: 100%;
      display: block;
      margin-left: 0%;
      top: 200px;

      h4 {
        margin-top: 0px;
      }

      h3 {
        margin-bottom: 5px;
      }


      .tabContent {
        max-width: 80%;
        width: 100%;
        margin: 0px auto;
      }

    }

  }

  .mainFooter {

    .d-flex {
      @include flexDirection(column);
    }

    .logoSection {
      width: 100%;
      text-align: center;
    }

    .footerMenuLinks {
      width: 100%;
      margin-right: 0%;
      text-align: center;

      .socialNav {
        float: none;
        @include flexDirection(column);

        .socialIcon {
          margin-bottom: 10px;
        }

        .phoneNumber {
          border: none;

          &:hover {
            border: none;
          }
        }
      }

    }

  }

  .ourBrandsSection {
    margin-top: 0%;

    .imgSection {
      display: none;
    }

    .contentDescription {
      width: 100%;

      .tabContent {
        max-width: 80%;
        width: 100%;
        margin: 0px auto;
      }

      .brandCta {
        padding: 16px 30px 16px 35px;

        .brandLink {
          left: 35%;

          a {
            font-size: 20px;
          }
        }

      }

    }
  }

}


@media screen and (max-width:1000px) {

  .slideContainer {

    .singleSlide {

      .bannerContent {

        width: 80%;
        top: 10%;

        .bannerHeader {
          p {
            font-family: "robotomedium";
            font-size: 23px;
          }
        }

        .bannerDescription {

          p {
            font-size: 20px;
          }

        }
      }

      .bannerHeader {

        h1 {
          font-size: 35px;
        }

      }

      .bannerCta {
        margin-top: 30px;
      }


    }
  }

  .bannerCtaSection {
    display: none
  }

  .introSection {

    .cntLeft {
      width: 100%;

      .emphasisText {
        font-size: 35px;
      }

    }

  }

  .coreSolutionsSection {

    h3 {
      font-size: 28px;
    }

    .solutions {

      padding: 0px;

      .singleItem {
        width: 47%;
        margin-left: 1.5%;
        margin-right: 1.5%;

        .singleSolution {

          .solutionContent {

            .ctaSection {
              margin-top: 10px;
            }

          }

        }

      }

    }

  }

  .contentSection {

    .cntRight {

      h3 {
        font-size: 28px;
      }

      .iconsTab {
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
      }
    }

    .contentDescription {

      h3 {
        font-size: 28px;
      }

    }

  }

  .heroImageSection {

    .heroDescription {

      h3 {
        font-size: 25px;
      }

      p {
        font-size: 16px;
      }
    }

  }

  .partnersSection {

    h3 {
      font-size: 28px;
    }

    .partnerLogos {

      ul {

        li {
          margin-bottom: 15px;
        }

      }

    }

  }

  .bannerSection {

    .bannerContainer {

      .bannerContent {

        .bannerHeader {
          h1 {
            font-size: 30px;
          }
        }

        .bannerDescription {

          p {
            font-size: 17px;
          }

        }

      }

    }

  }

  .ourStorySection {


    .contentDescription {

      h3 {
        font-size: 30px;
      }

      h4 {
        font-size: 22px;
      }

    }

  }

  .ourBrandsSection {

    .contentDescription {

      h3 {
        font-size: 30px;
      }

      h4 {
        font-size: 22px;
      }

      .brandCta {
        padding: 10px 20px 10px 30px;

        .brandLogo {

          img {
            width: 60%;
          }

        }

        .brandLink {
          left: 35%;

          a {
            font-size: 20px;
          }
        }

        .ctaSection {

          .ctaIcon {
            font-size: 25px;
          }

        }

      }

    }
  }

}


@media screen and (max-width:768px) {

  .slideContainer {

    .singleSlide {

      .bannerContent {

        width: 80%;

        .bannerHeader {

          h1 {
            font-size: 30px;
          }

          p {
            font-family: "robotomedium";
            font-size: 20px;
          }
        }

        .bannerDescription {

          p {
            font-size: 16px;
          }

          span {
            font-size: 20px;
          }

        }

        .bannerCta {
          margin-top: 10px;
        }

      }



    }
  }

  .introSection {

    .cntLeft {

      .emphasisText {
        font-size: 30px;
      }

    }

  }

  .contentSection {

    .cntRight {

      .singleProcess {
        width: 100%;
        margin-right: 0%;
      }

    }

  }

  .heroImageSection {

    background-color: #446D8E;
    height: 40%;

    .heroDescription {

      h3 {
        width: 100%;
      }

    }

    img {
      display: none;
    }

  }

  .partnersSection {

    h3 {
      font-size: 28px;
    }

    .partnerLogos {

      ul {

        li {
          width: 100%;
        }

      }

    }

  }

  .bannerSection {

    .bannerContainer {

      .bannerContent {
        width: 86%;

        .bannerHeader {
          h1 {
            font-size: 25px;
          }
        }

      }

    }

  }

  .formSection {

    form {
      .row {
        margin-bottom: 5px;
        overflow: hidden;

        .half {
          width: 98%;
          margin-right: 2%;
          margin-bottom: 1%;
        }

        .full_width {
          margin-bottom: 1%;
        }

      }
    }

  }

  .ourStorySection {

    .sidebarSection {

      .sidebar {

        nav {

          ul {

            li {
              font-size: 18px;

              .timeline {
                font-size: 18px;
              }

              .active {
                font-size: 20px;
              }

            }

            .active {
              font-size: 20px;
            }


          }

        }
      }


      .timelineSidebar {

        nav {

          ul {

            li {
              margin: 20px 15px;
              list-style: none;
              font-size: 20px;
              font-family: 'museo_sans_rounded900';
              color: #fff;
              opacity: 0.5;
              cursor: pointer;
            }

            .active {
              font-size: 25px;
            }


          }

        }

      }

    }

    .contentDescription {

      h3 {
        font-size: 25px;
      }

      h4 {
        font-size: 20px;
      }

    }

  }

  .ourBrandsSection {

    .contentDescription {

      h3 {
        font-size: 25px;
      }

      h4 {
        font-size: 20px;
      }

    }
  }

  .ourBrandsSection {

    .contentDescription {

      h3 {
        font-size: 30px;
      }

      h4 {
        font-size: 22px;
      }

      .brandCta {
        padding: 10px 15px 10px 20px;

        .brandLink {

          a {
            font-size: 16px;
          }
        }

        .ctaSection {

          .ctaIcon {
            font-size: 20px;
          }

        }

      }

    }
  }

}


@media screen and (max-width: 560px) {

  .centerAlign {
    max-width: 90%;
  }

  .slideContainer {

    .singleSlide {

      .bannerContent {

        width: 90%;
        left: 5%;
        top: 8%;

        .bannerHeader {

          h1 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
          }
        }

        .bannerDescription {

          p {

            margin-bottom: 0px;
          }

          span {
            font-size: 14px;
          }

        }

        .bannerCta {
          margin-top: 10px;
          padding: 5px 10px;

          a {
            font-size: 14px;
          }

        }

      }

      .bannerHeader {

        h1 {
          font-size: 35px;
        }

      }

    }
  }

  .introSection {
    margin-bottom: 30px;
    margin-top: 30px;

    .cntLeft {

      p {

        &:nth-child(1) {
          font-size: 21px;
        }
      }

      .emphasisText {
        font-size: 25px;
      }

    }

  }

  .coreSolutionsSection {

    h3 {
      font-size: 25px;
      padding: 25px 0px;
    }

    .solutions {

      .singleItem {
        width: 95%;
        margin-left: 1.5%;
        margin-right: 1.5%;

        .singleSolution {

          .solutionImage {

            img {
              width: 90%;
            }
          }

        }

      }

    }

  }

  .contentSection {

    .cntRight {

      width: 90%;

      h3 {
        font-size: 24px;
      }
    }

    .contentDescription {

      h3 {
        font-size: 24px;
      }

      .tabContent {
        max-width: 90%;
      }

      .solutionsSection {

        .solutions {

          .singleSolution {
            font-size: 14px;
            width: 90%;
            margin-right: 0%;
            padding-left: 11%;
          }

        }

      }

    }

  }

  .formSection {
    margin: 10px 0px 25px;
  }


  .heroImageSection {

    .heroDescription {

      h3 {
        font-size: 21px;
      }

      p {
        font-size: 14px;
      }
    }

  }

  .partnersSection {

    h3 {
      font-size: 24px;
    }

    .partnerLogos {

      ul {

        li {
          img {
            width: 40%;
          }
        }

      }

    }

  }

  .formSection {

    form {
      .formFooter {

        .greenBtn {
          a {
            font-size: 15px;
          }
        }

      }
    }

  }

  .ourBrandsSection {

    .contentDescription {

      .tabContent {
        max-width: 90%;
      }

      h4 {
        font-size: 20px;
      }

    }

  }

  .bannerSection {

    .bannerContainer {

      .bannerContent {

        width: 90%;
        left: 5%;

      }

    }

  }

  .ourStorySection {

    .sidebarSection {

      .sidebar {
        left: 5%;
        top: 10%;
        width: 90%;

      }

    }

    .contentDescription {

      .tabContent {
        max-width: 90%;
      }

    }

  }

}


@media screen and (max-width: 440px) {

  .slideContainer {

    .singleSlide {

      .bannerContent {

        .bannerHeader {

          h1 {
            font-size: 16px;
          }

          p {
            font-size: 14px;
          }
        }

        .bannerDescription {

          p,
          span {
            font-size: 12px;
          }

        }

        .bannerCta {
          margin-top: 10px;
          padding: 5px 10px;

          a {
            font-size: 12px;
          }

        }

      }

      .bannerHeader {

        h1 {
          font-size: 35px;
        }

      }


    }
  }

  .sp-horizontal .sp-previous-arrow {
    left: 1px;
  }

  .sp-horizontal .sp-next-arrow {
    right: 1px;
  }

  .introSection {
    margin-bottom: 20px;
    margin-top: 20px;

    .cntLeft {

      p {

        &:nth-child(1) {
          font-size: 18px;
        }
      }

      .emphasisText {
        font-size: 22px;
      }

    }

  }

  .coreSolutionsSection {

    h3 {
      font-size: 20px;
      padding: 25px 0px;
    }

    .solutions {

      padding: 0px;

      .singleItem {

        .singleSolution {

          .solutionImage {

            padding-top: 14px;

          }

        }

      }

    }

  }

  .contentSection {

    .cntRight {

      .iconSection {
        display: none;
      }

      .singleProcess {

        .processDescription {
          margin-left: 0px;
        }

      }

    }

    .contentDescription {
      h3 {
        font-size: 24px;
      }

    }

  }

  .formSection form {
    padding: 15px;
  }

  .heroImageSection {

    .heroDescription {

      h3 {
        font-size: 18px;
      }

    }

  }

  .bannerSection {

    .bannerContainer {

      .bannerContent {

        .bannerDescription {

          p {
            font-size: 14px;
          }

        }

      }

    }

  }

  .contentSection {

    .contentDescription {

      .solutionsSection {

        .solutions {

          .singleSolution {
            padding-left: 15%;
          }

        }

      }

    }

  }

  .ourStorySection {

    .sidebarSection {

      .sidebar {

        nav {

          ul {

            li {
              margin: 10px 0px;
              font-size: 15px;

              .timeline {
                font-size: 15px;
              }

              .active {
                font-size: 18px;
              }

            }

            .active {
              font-size: 18px;
            }


          }

        }

      }

    }

    .contentDescription {

      .tabContent {

        h3 {
          font-size: 19px;
        }

        h4 {
          font-size: 16px;
        }

        p {
          font-size: 15px;
        }

      }

    }

  }

  .ourBrandsSection {

    .contentDescription {

      h3 {
        font-size: 23px;
      }

      h4 {
        margin-top: 0px;
      }

      p {
        font-size: 15px;
      }

      .brandCta {

        padding: 10px;

        .brandLogo,
        .ctaSection {
          display: none;
        }

        .brandLink {
          text-align: center;
          position: relative;
          left: 0%;
          width: 100%;

          a {
            font-size: 14px;
          }
        }

      }

    }
  }



}
