<div class="brandCta">
    <div class="brandLogo">
        <img 
            src="{{logo}}" 
            alt="">
    </div>

    <div class="brandLink">
        <a 
            href="{{link}}"
            class="text-white"
            target="_blank">
            {{linkDescription}}
        </a>
    </div>

    <div class="ctaSection">
        
            <a 
                href="{{link}}"
                target="_blank">
                
                <fa-icon
                    class="ctaIcon text-white"
                    [icon]="['fas', 'arrow-alt-circle-right']">
                </fa-icon>

            </a>

    </div>
</div>