<div class="socialNav fr">

    <a 
        href="https://www.facebook.com/mfskenya"
        target="_blank"
        el="noopener noreferrer">

        <fa-icon
            class="socialIcon"
            [icon]="['fab', 'facebook-f']">

        </fa-icon>
    </a>
    
    <a 
        href="https://twitter.com/mfs_kenya"
        target="_blank"
        el="noopener noreferrer">

        <fa-icon
            class="socialIcon"
            [icon]="['fab', 'twitter']">

        </fa-icon>
    </a>
    
    <a 
        href="https://www.linkedin.com/company/mfskenya/mycompany/?viewAsMember=true"
        target="_blank"
        el="noopener noreferrer">

        <fa-icon
            class="socialIcon"
            [icon]="['fab', 'linkedin-in']">

        </fa-icon>
    </a>

    <a 
        href="tel:0709184000"
        class="phoneNumber">

        <fa-icon
            icon="phone-volume"
        ></fa-icon>

        0709 184 000
    </a>

</div>