<div class="socialNav fr">

    <a
        href=""
		rel="noopener noreferrer"
        target="_blank">

        <fa-icon
            class="socialIcon"
            [icon]="['fab', 'facebook-f']">

        </fa-icon>
    </a>

    <a
        href=""
		rel="noopener noreferrer"
        target="_blank">

        <fa-icon
            class="socialIcon"
            [icon]="['fab', 'twitter']">

        </fa-icon>
    </a>

    <a
        href=""
		rel="noopener noreferrer"
        target="_blank">

        <fa-icon
            class="socialIcon"
            [icon]="['fab', 'linkedin-in']">

        </fa-icon>
    </a>

    <a
        href="tel:0709184000"
        class="phoneNumber">

        <fa-icon
            icon="phone-volume"
        ></fa-icon>

        0709 184 000
    </a>

</div>
