<section class="bannerSection">

  <div 
    class="bannerContainer"
    [ngClass]="image !== '' ? 'parallaxEffect' : '' "
	  [ngStyle]="{'background-image': 'url(' + image + ')'}">

    <div class="overlay opacity-3"></div>

    <div class="bannerContent">

      <div class="bannerHeader">
        <h1 class="text-white">{{title}}</h1>
      </div>

      <div [innerHtml]="excerpt" class="bannerDescription">

      </div>


    </div>

    <img class="hideImage" src="{{image}}" alt="">


  </div>


</section>
