<section class="bannerSection">

  <div class="bannerContainer">

    <div class="overlay opacity-3"></div>

    <div class="bannerContent">

      <div class="bannerHeader">
        <h1 class="text-white">Mobile Banking</h1>
      </div>

      <div class="bannerDescription">

        <p class="text-white">
          Accounts Services is designed for people on the go. 
          Access financial services via any USSD, mobile or web 
          channels at your own convenience.
        </p>

        <span class="text-white">
          As-a-Service | Cloud | On-premise
        </span>

      </div>


    </div>

    <img src="./assets/img/banners/digital-banking-banner.jpg" alt="">

  </div>


</section>
