<section class="bannerSection">

  <div class="bannerContainer">

    <div class="overlay opacity-3"></div>

    <div class="bannerContent">

      <div class="bannerHeader">
        <h1 class="text-white">Customer and Product Management </h1>
      </div>

      <div class="bannerDescription">

        <p class="text-white">
          Capture and store customer any individual and business KYC information seamlessly from any channel. Create
          business branches, products and services to suit your client needs.
        </p>

      </div>


    </div>

    <img src="./assets/img/banners/customer_product_management.jpg" alt="">

  </div>


</section>
