<section class="ourBrandsSection d-flex">

    <div class="half imgSection">

        <div class="overlay"></div>

        <div class="sidebarContainer">

            <div class="sidebarBackground">

                <img src="./assets/img/background-imgs/our-brands.jpg"
                    alt=""
                    class="backgroundImage our-brands-img">

            </div>

        </div>

    </div>

    <div class="half contentDescription">

        <div class="tabContent">

            <h3 class="text-green">
                <span class="text-blue">Our Brands - </span> Launch of InsureMe
            </h3>

            <h4 class="text-blue">
                Re-Engineering of our Technology
            </h4>

            <p>
                On May 3rd, 2021, Mobile Financial Solutions Limited changes its name to MFS Technologies Limited, in line with the company goal of being a fully integrated financial services and technology provider.
            </p>

            <p>
                The name ‘MFS Tech’ is trade marked on June 10th, 2021
            </p>

            <p>
                Utility Payments and E-KYC are added, bringing the total number of business components to 11
            </p>

            <p>
                2021 marks a milestone for MFS. Using its own technology, MFS launches a first-in-class insurance solution branded InsureMe which has digitized the entire motor insurance value chain, from policy selection and purchase, vehicle and customer e-KYC, vehicle valuation and claims process.
            </p>

            


        </div>

    </div>

</section>
