<section class="contentSection d-flex centerAlign">

  <div class="contentDescription half">

    <h3 class="text-green">
      What kind of solution would you like to create?
    </h3>

    <p>
      Looking to create a digital solution for your
      business? You can select more than one solution
      below then fill in the form and one of our
      representatives will reach out to you.
    </p>

    <div class="solutionsSection">

        <div class="d-flex solutions">

            <mat-checkbox class="singleSolution">
                Transaction services (Savings, Digital Banking )
            </mat-checkbox>

            <mat-checkbox class="singleSolution">
                Loan management
            </mat-checkbox>

            <mat-checkbox class="singleSolution">
                Customer Management &amp; Accounts Opening
            </mat-checkbox>

            <mat-checkbox class="singleSolution">
                E-KYC​
            </mat-checkbox>

            <mat-checkbox class="singleSolution">
                Payments Gateway
            </mat-checkbox>

            <mat-checkbox class="singleSolution">
                Customer & Data Analytics
            </mat-checkbox>

            <mat-checkbox class="singleSolution">
                Agency Banking
            </mat-checkbox>

            <mat-checkbox class="singleSolution">
                Communications Gateway
            </mat-checkbox>

            <mat-checkbox class="singleSolution">
                Insurance
            </mat-checkbox>

            <mat-checkbox class="singleSolution">
                All
            </mat-checkbox>


        </div>
          

    </div>

  </div>

  <div class="form half">
    
    <form 
        action="" 
        id="contactForm">

        <div class="row">

            <div class="half fl">
                <label for="">First Name</label>
                <input type="text"/>
            </div>

            <div class="half fl">
                <label for="">Last Name</label>
                <input type="text"/>
            </div>

        </div>

        <div class="row">

            <div class="half fl">
                <label for="">Phone Number</label>
                <input type="text"/>
            </div>

            <div class="half fl">
                <label for="">Email</label>
                <input type="text"/>
            </div>

        </div>

        
        <div class="row">

            <div class="full_width">
                <label for="">Company</label>
                <input type="text"/>
            </div>

        </div>

        <div class="row">

            <div class="full_width">
                <label for="">Tell what you’re looking to solve for your customers or business</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>

        </div>
        
        <div class="formFooter">
            <button class="greenBtn text-white full_width">
                <a href="#" class="text-white">
                    Contact Me

                    <fa-icon
                        class="ctaIcon"
                        [icon]="['fas', 'arrow-circle-right']">
            
                    </fa-icon>

                </a>
                
            </button>
        </div>

 
    </form>

  </div>

</section>
