<section class="contactUs contentSection d-flex centerAlign">

  <div class="contentDescription half">

    <h3 class="text-green">
      What kind of solution would you like to create?
    </h3>

    <p>
      Looking to create a digital solution for your
      business? You can select more than one solution
      below then fill in the form and one of our
      representatives will reach out to you.
    </p>

    <div class="solutionsSection">
    
        <div class="d-flex solutions">

            <div 
                class="singleSolution" 
                (click)="selectSolution($event);">
                <input type="checkbox">
                Account Services/Mobile Banking
                
            </div>

            <div 
                class="singleSolution"
                (click)="selectSolution($event);">
                <input type="checkbox">
                Communications
            </div>

            <div
                 class="singleSolution"
                (click)="selectSolution($event);">
                <input type="checkbox">
                Loan Management
            </div>

            <div 
                class="singleSolution"
                (click)="selectSolution($event);">
                <input type="checkbox">
                Agency Banking
            </div>

            <div 
                class="singleSolution"
                (click)="selectSolution($event);">
                <input type="checkbox">
                Savings, Goals and Fixed Deposits
            </div>

            <div 
                class="singleSolution"
                (click)="selectSolution($event);">
                <input type="checkbox">
                Utilities
            </div>

            <div 
                class="singleSolution"
                (click)="selectSolution($event);">
                <input type="checkbox">
                Payments
            </div>

            <div 
                class="singleSolution"
                (click)="selectSolution($event);">
                <input type="checkbox">
                E-KYC
            </div>

            <div 
                class="singleSolution"
                (click)="selectSolution($event);">
                <input type="checkbox">
                Insurance
            </div>

            <div 
                class="singleSolution"
                (click)="selectSolution($event);">
                <input type="checkbox">
                Reporting and BI
            </div>

            <div 
                class="singleSolution"
                (click)="selectSolution($event);">
                <input type="checkbox">
                Customer and Product Management
            </div>


        </div>
          

    </div>

  </div>

  <div class="formSection half">
    
    <form 
        action="" 
        id="contactForm">

        <div class="row">

            <div class="half fl">
                <label for="">First Name</label>
                <input type="text"/>
            </div>

            <div class="half fl">
                <label for="">Last Name</label>
                <input type="text"/>
            </div>

        </div>

        <div class="row">

            <div class="half fl">
                <label for="">Phone Number</label>
                <input type="text"/>
            </div>

            <div class="half fl">
                <label for="">Email</label>
                <input type="text"/>
            </div>

        </div>

        
        <div class="row">

            <div class="full_width">
                <label for="">Company</label>
                <input type="text"/>
            </div>

        </div>

        <div class="row">

            <div class="full_width">
                <label for="">Tell what you’re looking to solve for your customers or business</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>

        </div>
        
        <div class="formFooter">
            <button class="greenBtn text-white full_width">
                <a href="#" class="text-white">
                    Contact Me

                    <fa-icon
                        class="ctaIcon"
                        [icon]="['fas', 'arrow-circle-right']">
            
                    </fa-icon>

                </a>
                
            </button>
        </div>

 
    </form>

  </div>

</section>
