
<!--  Site Preloaders  -->
<app-preloader
    *ngIf="siteImages.length < 1"
></app-preloader>

<app-preloader
    *ngIf="siteImages.length > 0"
    [images]="siteImages"
></app-preloader>

<!--END  Site Preloaders  -->

<app-processor
	processorHeight="fill"
	*ngIf="loadingView"
	class="margin-top100"
	description="Loading our brand view"
></app-processor>

<section
	class="ourBrandsSection"
	*ngIf="!loadingView" >

    <div class="imgSection">

                <img

					src="{{brandContent?.acf?.background_image}}"
                    alt=""
                    class="backgroundImage">

            

    </div>

    <div class="contentDescription">

        <div
			id=""
			class="tabContent"
			>

            <div [innerHtml]="brandContent?.acf?.story_content"></div>

            <app-brandlinks
                logo = "./assets/img/logos/brands_0001_insure-me-logo.png"
                link = "https://insureme.co.ke/"
                linkDescription="Visit www.insureme.co.ke"
            >
            </app-brandlinks>

        </div>

    </div>

</section>
