<app-processor
	processorHeight="fill"
	*ngIf="loadingView"
	class="margin-top100"
	description="Loading our brand view"
></app-processor>

<section
	class="ourStorySection"
	*ngIf="!loadingView" >

    <div class="sidebarSection">

        <div class="overlay"></div>

        <div class="sidebarContainer">

            <div class="sidebar">



            </div>


            <div class="sidebarBackground">

                <img

					src="{{brandContent?.acf?.background_image}}"
                    alt=""
                    class="backgroundImage">

            </div>

        </div>

    </div>

    <div class="contentDescription">

        <div
			id=""
			class="tabContent"
			>

            <div [innerHtml]="brandContent?.acf?.story_content">

            </div>

        </div>

    </div>

</section>
