<div class="singleSolution">

        <div class="solutionImage">
            <img
                src="{{image}}"
                alt="">
        </div>

        <div class="solutionContent">
            <h4>
                {{title}}
            </h4>

			<div innerHtml ="{{description }}" ></div>


            <div class="ctaSection">
                <button class="blackOutlineBtn">
                    <a href="{{link}}">
                        Learn More

                        <fa-icon
                            class="ctaIcon"
                            [icon]="['fas', 'arrow-circle-right']">
                        </fa-icon>

                    </a>
                </button>
            </div>
        </div>
</div>
