<div class="singleSolution">

        <div class="solutionImage">
            <img
                src="{{image}}"
                alt="">
        </div>

        <div class="solutionContent">
            <h4 class="text-green">
                {{title}}
            </h4>

			<div innerHtml ="{{description }}" ></div>


            <div class="ctaSection">
                    <a 
                        href="{{link}}"
                        class="blackOutlineBtn">
                        Learn More

                        <fa-icon
                            class="ctaIcon"
                            [icon]="['fas', 'arrow-circle-right']">
                        </fa-icon>

                    </a>
            </div>
        </div>
</div>
